[2016-05-18 18:41] ccdesales opened #1 "Define dates for SPS17"
This requires us to define:

-  How long?
-  Once again a one track one day conference?

Fight!

[2016-05-18 18:44] ccdesales opened #2 "Define location for SPS17"

[2016-05-18 20:24] dbrgn commented on #2
Rapperswil would probably be available again, and we could probably get the Aula, which is bigger.

[2016-05-18 20:24] dbrgn commented on #1
I'd say the same as last time :)

[2016-05-20 19:24] ccdesales commented on #2
I've written a mail to Martin Christen from the FHNW, asking him about the option of hosting the event in Olten. As a central location it could boost attendance.

[2016-06-07 16:32] chiesax opened #3 "choose bank for sps association account"
Need to call some swiss banks and have a list of offers to be evaluated.

Ubs, credit suisse, migros and coop banks, post, zkb...

With zkb we are then bound to canton zurich, but we should easily find someone located there if needed.

[2016-06-07 21:28] dbrgn commented on #3
Bank Linth is free for associations. Don't know about others.

I like https://www.abs.ch/, but I'm not sure about fees for associations.

[2016-06-08 13:36] dbrgn opened #4 "Organization Teams"
*(Moved from SwissPy/swisspycon#75)*

For the next edition we should probably create "mini-teams" with people responsible for a specific part from beginning to the end. I'll create a separate issue for that. Examples could be:

- General communications (sending out e-mails to attendees, managing newsletters, etc)
- Speaker communications & coordination (make sure the Speakers have all information

[2016-06-08 14:48] ghost commented on #1
Hi everyone,

I've received email from Karolina:

I would love to attend. Where can I find more details? It seems that place and date are not defined yet.
Could you please clarify?
Cheers!

[2016-06-08 15:05] ccdesales commented on #1
Hi Frantisek.

The constituent meeting will take place on Wednesday the 6th of July at Webrepublic AG (Seefeldstrasse 233, 8008 Zürich). You'll be most welcome to join.

We've sent an email to everyone who attended the conference last year, but given we have place for max. 20 people for the meeting I doubt it's a good idea to promote it.

[2016-06-14 10:41] bkarolina commented on #1
Could you also please write a time when this meeting begins? Thanks.

[2016-06-14 10:50] href commented on #1
The meeting begins at 19:00.

[2016-07-07 08:51] chiesax commented on #3
I just see a problem with Bank Linth because it is a local bank (https://www.banklinth.ch/de/privatkunden/kontakt/standortfinder)

**Since we are a Swiss (as opposed to Cantonal) association, we should better find a Bank which is easily accessible in the whole country** (and this excludes Cantonal Banks and Reiffeisen banks).

I have looked at the PostFinance offer for associations (https://www.po

[2016-07-07 08:53] dbrgn commented on #3
Yes, I agree. I just wanted to point out that some banks offer free accounts.

[2016-07-08 10:56] href opened #5 "Setup the association's address"
The association needs to get an address and as mentioned by @andrekeller the Post has a nifty little service for just this use case: https://www.post.ch/de/geschaeftlich/themen-a-z/preise-empfangen/preise-postempfang/preise-vereinsadressen

The 20.- a year seem reasonable to me.

To do this we need to fill out a form. The mail will then be forwarded to the secretary, i.e. me.

I think I should do

[2016-07-08 11:07] href commented on #5
Moved to https://github.com/SwissPy/SPSA/issues/1

[2016-07-08 11:07] #5 closed

[2016-07-08 11:08] href commented on #3
I copied this issue over to the new SPSA repository that's meant for event-independent business.

[2016-07-08 11:08] #3 closed

[2016-07-12 09:46] ccdesales commented on #2
Martin has indicated that while it's relatively easy to get the venue in Olten, he's not available as our contact person on February 2017. It was also discussed that in both cases, Olten and Rapperswil, the event needs to take place during the semester break, so we are constraint to have it on February or in Summer.

This means we are most likely returning to HSR Rapperswil on February 2017.

[2016-07-12 10:55] ccdesales commented on #2
@sfkeller would you please check which would be the best dates if we wanted to host the conference in 2017 at HSR?

[2016-07-12 10:56] ccdesales commented on #1
Probably same as las time since we are bound to the semester breaks.

[2016-07-12 12:17] sfkeller commented on #2
Ok. I'll do that.
As a quick answer it must be before semester starts which is 20.02.2017.
If needs to be a Friday again, it's February 3/10/17 2017.
Does it need to be a Friday?

[2016-07-12 12:42] cdesales commented on #2
I think it makes sense that it's on Friday, for same reasons as last year.

[2016-07-12 13:56] dbrgn commented on #2
I think 17.3. is probably the best date - by then all exams should be finished.

[2016-07-12 13:57] dbrgn commented on #1
See discussion in #2.

[2016-07-12 14:17] sfkeller commented on #2
Then I have called the "Verwaltungsdirektor" himself since, yes, 17. February 2017 could be an option - but we have a problem: The Aula is still reserved for exams and will be renovated until August 2017 (which means there could be too much noise)! I/we now have to investigate if 17. February 2017 can be made available.
Thus, I have reserved as a fallback >> Room 3.008 << (max. 130 persons) on Fri

[2016-07-12 14:19] dbrgn commented on #2
We planned to do a bigger edition this time, so we'd probably need room for at least 200 people.

Is there any chance we could get the aula?

[2016-07-12 14:43] sfkeller commented on #2
I'm investigating (with help from Frau Vettiger), if 17. February 2017 can be made available. Chances are 50/50. I'll update you tomorrow.

[2016-07-12 19:43] dbrgn commented on #2
Other dates might also be possible from our side.

Furthermore, depending on how much the fee would be, we might also be able to pay regular fees for the room.

[2016-07-13 10:04] sfkeller commented on #2
It seems that the Aula would be available at Fr. 10. Feb. and/or Fr. 17. Feb. 2017. Which date do you prefer?

[2016-07-13 10:33] href commented on #2
I don't see any conflicts with other conferences on lanyrd.com, I don't know what else we could check.

One thing that the 17th has going for it is that it's almost symmetrical: 17.02.2017, so it's easier to remember :)

[2016-07-13 17:48] sfkeller commented on #2
So, without any other feedback, I will confirm internally tomorrow around lunch time that we take the date Fr. 17.02.2017 for the Aula HSR.

[2016-07-13 18:29] dbrgn commented on #2
That would be great!

What would the regular prices for the Aula be, just in case we want to go all-in on sponsors and financing?

[2016-07-13 22:58] sfkeller commented on #2
Unconfirmed prizes:
The Aula (main lecture hall, Auditorium Maximum) is around CHF 660.- (whole day incl. one hour technician).
Don't know if this includes the beamer which would cost 150.- on top.
Then we'd need a Foyer for reception and apéro which would be CHF 150.- (my guess).
Lecture rooms 3.008 and 3.010 are CHF 250.- each for whole day.

[2016-07-14 21:42] sfkeller commented on #2
The date is set: It's the Fr. 17.02.2017 in the Aula.
The full costs (in CHF) are as follows:
- 600.- Aula including Foyer (for reception, breaks and Apéro)
- 120.- Operator ("Bühnenmeister")
- 150.- Beamer
  That's it for the room and infrastructure. There's no need for a separate "Cafeteria" room since the Foyer is just close to the Aula. During breaks the doors between Foyer and Aula need to be

[2016-07-22 06:06] cdesales opened #6 "Update website with Date and location"

[2016-07-22 06:06] cdesales opened #7 "Create Call for Proposals"
I'd let it run till End of October 2016.

[2016-07-22 06:16] cdesales commented on #7
The Form:

https://docs.google.com/forms/d/1XsBMNB__Z1mzX7Ob6DbuFEHy1QpKAb4oQtIAF7XnF1g/edit?uiv=1

[2016-07-22 06:18] ccdesales opened #8 "Start registration for Early Bird tickets"

[2016-07-22 06:21] ccdesales opened #9 "Define ticket price for early bird"
We can either make a guess, or try to come up with a draft of the budget.

I'm still for having cheap tickets.

I'd also say that confirmation of attendance will be sent once payment is done, in an attempt to reduce no-shows. This depends on us finishing the paperwork for the SPS bank account.

[2016-07-22 11:53] dbrgn commented on #7
Form looks good!

[2016-07-23 19:56] cdesales opened #10 "Create call for helpers"

[2016-07-23 20:00] cdesales commented on #10
Done

[2016-07-23 20:00] #10 closed

[2016-07-23 20:01] cdesales commented on #7
Done, please validate at the website, then we can promote it.

[2016-07-23 20:01] cdesales commented on #6
Done.

[2016-07-23 20:01] #6 closed

[2016-07-23 20:07] cdesales opened #11 "Promote Call for proposals"
- [x] Pycoders newsletter: www.pycoders.com
- [x] PythonWeekly newsletter www.pythonweekly.com
- [ ] Python email list
- [x] Reddit
- [x] Twitter
- [ ] Posters in Swiss universities and hacker spaces
- [ ] Zürich Web Tuesday
- [ ] Hackernews

See: https://github.com/SwissPy/swisspycon/issues/18

[2016-07-25 07:12] href commented on #7
Looks all good to me!

[2016-07-25 07:17] jakeret commented on #7
I think it would be good to have a reference to the call for proposal on the main site.

[2016-07-29 08:54] dbrgn commented on #4
I'd opt for taking over the "Technical infrastructure" part. I'll be able to borrow the same PA system as last time.

How do we distribute the rest? I assume @chiesax will take over finances?

[2016-07-29 09:12] chiesax commented on #4
Yes, and we need people for sponsoring...

[2016-08-03 10:15] href commented on #4
I think it makes sense to start breaking up all these jobs into small tasks (i.e. issues) and then people can self assign. We can keep the jobs together by tagging them with the organisation laid out in this issue.

Also, the more descriptive and concrete the issue, the better.

[2016-08-03 10:26] href opened #12 "Design Print Materials"
We need a new set of posters. Aside from the logo we're pretty free in how we do them, so if anyone wants to do some graphic design, go ahead. Nothing fancy required.

Posters:
- [x] Event Poster (Where, When, What, Who, Why)
- [ ] Event Badge (With space for name and company)
- [ ] Staff T-Shirt
- [ ] Directions for the Event (Left, Straight, Right Arrow with Logo)
- [ ] Template where we can put

[2016-08-03 10:30] href opened #13 "Answer Calls for Proposal E-Mails, Manage Speakers"
It would be awesome if we could have someone be the single contact for all speakers. That would include answering to their initial proposal, let them know the result once we have voted and welcoming them on the day of the conference.

Part of this job would also be to keep track of the proposals and later the speakers and making sure they show up on time.

This can technically be done by multiple

[2016-08-03 10:34] href opened #14 "Setup and Handle Registration"
This job includes setting up a registration form using whatever you prefer (we previously used google forms, but anything goes) and keeping track of signups.

The person doing this should ensure that we can fit all people that are signed up, keep track of cancellations and make sure we have a list of all registered people at the day of the conference.

This does not include payment, which we have

[2016-08-03 10:37] href opened #15 "Deploy an Online Payment Form"
The best way to ensure that people show up is if they have to pay up front. So as an option we might want to allow for online payments. Once we have a bank account we can for example setup Stripe to go with this.

This does add complexity however, so we can always just go back to last year's pay on premise system.

Thoughts?

[2016-08-03 10:40] href opened #16 "Find Sponsors"
I'm not sure how we should go about this, but we definitely need sponsors. Last year we added the logo to all prints and allowed some sponsors to lay out their material around registration and to give a short presentation.

What should we offer this year?
Who wants to take care of talking to possible sponsors?

[2016-08-03 11:38] bkarolina commented on #9
I agree that the confirmation of attendance should be sent after the payment is done.

[2016-08-03 11:41] andrekeller commented on #4
I agree, at least for me this is all a bit overwhelming at the moment :-)

[2016-08-03 11:43] bkarolina commented on #13
I can be a contact for all speakers.

[2016-08-03 17:13] ccdesales commented on #15
We'll soon have the association's bank account set up.

People can use the traditional orange sheet to pay (preferably online), and the treasurer can go once a week through the incoming payment list and mark them. Somebody else can then send the confirmation emails.

[2016-08-03 18:06] andrekeller commented on #15
I'm not sure we want the overhead and complexity of something like stripe. For attendees from Switzerland/Europe a bank transfer is probably easiest (SEPA/IBAN). We can provide deposit slips on request.

[2016-08-03 20:04] dbrgn commented on #15
I agree with @andrekeller. Let's simply use SEPA and red payment sheets (Einzahlungsschein) for pre-payment. Once a reservation is done, it is reserved for 30 days. If there's no payment after that, we'll cancel the reservation.

[2016-08-03 20:05] dbrgn commented on #9
I'd suggest to have different prices for personal and company tickets.

My idea would be to have company tickets at 50-80 CHF and personal tickets at 20 CHF. Last year's 10 CHF did not even cover all costs. But before we can do that, we have to get a list of all expenses.

[2016-08-03 22:45] dbrgn commented on #4
I still think that - even while breaking up jobs into smaller tasks, which is a good idea - we need a responsible person to keep the overview.

I can also take over responsibility for location.

Note to the "newcomers": Even if you didn't do something like that before, just pick a job that interests you. We'll assist you however we can!

[2016-08-03 23:08] andrekeller commented on #14
I guess I could do this. Insights of how this was handled last year are of course welcome. Maybe this goes hand in hand with #15 ?

[2016-08-04 07:44] href commented on #13
Great! I'll send you an e-mail to give you access to info@python-summit.ch. Then, once we are in progress with https://github.com/SwissPy/sps17/issues/11, I'll trust you to manage the incoming proposals 👍

[2016-08-04 07:51] href commented on #14
I agree that it does go hand in hand.

Basically we just gathered the information of everyone in a shared spreadsheet, kept tabs on who is who (speaker, helpers, regular attendees), made sure to cross out people who cancelled later and have a printed list in alphabetical order on the day for the registration.

I think at worst it can be a bit tedious to keep tabs on everyone, but I don't recall an

[2016-08-04 11:36] dbrgn commented on #13
:sparkles:

[2016-08-04 11:40] dbrgn commented on #13
@bkarolina I assigned you to the "Speaker communications & coordination" item at #4.

[2016-08-04 18:29] dbrgn opened #17 "Budget"
Blocks #9.

What expenses can we expect?

If we can't get the room for free (it would probably be easier not having to target a break-even):
- Location rent (including cleaning and other expenses)
- Technical equipment (sound, adapters, etc)
- Printing costs for flyers, posters, etc
- Coffee and food during breaks
- Social event (if we decide to do one)
  - Beer
  - Catering
- Name badges / Lanyar

[2016-08-04 18:35] dbrgn commented on #17
How many people should we allow? I think we could do our budget based on 200 and allow up to around 250. That should be possible in the Aula.

[2016-08-18 08:50] href commented on #11
So, are we ready to promote the CFP properly?

[2016-08-30 17:52] ccdesales commented on #7
Done

[2016-08-30 17:54] ccdesales commented on #11
Yes, we are ready for it.

[2016-08-31 07:49] chiesax commented on #15
Sounds reasonable...

[2016-08-31 07:52] jakeret commented on #13
I was trying to find the response email from last year so that we don't have to rewrite it. But I couldn't find it on GitHub. Maybe it's somewhere in the outbox on the mail server

[2016-08-31 07:55] chiesax commented on #17
I am not sure you already did this, but could we provide a more or less detailed list of last year expenses, this would give us a more quantitative idea...

[2016-08-31 08:00] chiesax commented on #17
@sfkeller could you give us an estimate for the location rent?

[2016-08-31 08:02] href commented on #13
Actually we don't seem to have sent one. At least I can't find one in the outbox. There's registration confirmation and post-speaker selection e-mails, but no "thank you for your proposal" mails, as far as I can tell.

[2016-08-31 08:02] ccdesales commented on #13
@bkarolina this is a heads up. Today I'm starting promotion of our CFP and there most likely be new entries which will need confirmation from you.

Kindly provide a Gmail address so I can grant you access to the spreadsheet.

[2016-08-31 08:07] chiesax commented on #16
We may offer the same package as last year.

I guess the first step would be to contact the last year sponsors and ask them if they want to sponsor us again, letting them know we are now an association, and that they may benefit from tax exemption if they decide to give us some money. Do we have the contacts?

[2016-08-31 12:50] #7 closed

[2016-08-31 13:51] sfkeller commented on #17
Aula (incl. Aula Foyer e.g. for Apéro) 600.-; plus 120.- "Hauswart/Bühnenmeister"; plus Beamer 150.-.
More Aula Office infrastructure (Micro)? => plus 250.-.
I hope I did not forge s'thing: More rooms?

[2016-08-31 14:08] chiesax commented on #17
Reported from last year budget...

Covered

 costs

[code]

Open costs

[code]

Unsure

[code]

Income

[code]

Result

With the current data: 1164 CHF - 1100 CHF = -64 CHF

[2016-08-31 14:09] chiesax commented on #17
What about HSR students tickets prices? Do they get free/reduced fee entry even if we pay the room?

[2016-08-31 14:14] chiesax commented on #16
@ccdesales, @href  are Seantis and Webrepublic willing to give the association some money and eventually how much?

[2016-08-31 14:36] href commented on #16
Do you mean soon, to get some liquidity, or in time for the conference?

[2016-08-31 14:37] chiesax commented on #9
We could say for instance that until 1 month before the conference registration is only possible via pre-payement for 20CHF. Then we open to on-site payement, with the risk people is not showing up, and increase the price to 30 CHF or 40 CHF.

[2016-08-31 14:39] chiesax commented on #16
I do not think we need the money right now... but just to have an idea of the amount to make a reasonable budget...

[2016-08-31 14:44] chiesax commented on #17
@sfkeller In case we are paying the room, do you think we need some sort of insurance?

[2016-08-31 14:48] sfkeller commented on #17
There exists already an insurance at the university.
Regarding HSR students tickets: I'd suggest to give discount to all students (at least HSR); that was a suggestion by our financial officer. How much this discount is, can you (the organizing committee) decide.

[2016-08-31 14:54] href commented on #16
Well to get the same deal as last year, which I guess would be the lowest tier of sponsoring (have the logo on the printed materials and on the website) Seantis would be willing to pay 500.- to 1000.-.

It would make sense to add a higher tier, like the one Beekeeper had last year. I don't know what they payed at the time, but it would have to be a bit more than the lowest tier of course.

So mayb

[2016-08-31 15:05] href commented on #16
By the way, it doesn't look like there's a tax credit to be had at this point. I think we would have to become a specific kind of registered association for this to work:

http://www.viavia.ch/verein/pmwiki.php?n=Verein.Steuerbefreiung

But I doubt this is much of an issue anyway, when a company spends more money on things it pays less taxes as the profits are affected. And what really counts is w

[2016-08-31 15:23] chiesax commented on #16
Ok great news and thanks to Seantis, this will already cover part of the location fees. So if we can get the same from Webrepublic, we have already payed the venue.

[2016-08-31 15:30] dbrgn commented on #17
We could adjust student prices (for all universities) so that they only cover the food costs, but don't account for room and material costs. 50% could work. What do you think? We should have enough room.

Could we also offer company tickets? For a company, 50-100 CHF is peanuts. But it would allow us to give out regular and student tickets even cheaper. See #9.

[2016-08-31 15:34] dbrgn commented on #16
I would not agree on "selling" a speaking spot. People pay an entrance fee to see interesting content, not the one that brings us the most money.

Allowing the bigger sponsors to send out a mass e-mail would be OK for me.

[2016-08-31 15:36] chiesax commented on #16
Sponsors may also pay for a stand...

[2016-08-31 15:37] chiesax commented on #16
I am also somewhat against selling speaking spots, but OK for the rest.

[2016-08-31 16:05] chiesax commented on #16
We should also definitely have a 'become a sponsor' section on the web site...

[2016-08-31 17:09] bkarolina commented on #13
Hi, thanks for heads up. My e-mail address is karolina.bzdusek (at) gmail.com

[2016-08-31 17:36] ccdesales commented on #13
@bkarolina I've shared the spreadsheet with you. Feel free to delete the comment with your email address now.

[2016-09-01 07:13] jakeret commented on #17
Having different prices makes the registration process and setting up the budget harder. At least last year we tried to keep everything simple and stupid

[2016-09-01 09:01] dbrgn commented on #17
What about this (without having calculated it through):
- Student 10 CHF
- Regular 20 CHF
- Company 50 CHF

All of this for pre-order. On-site: +10 CHF.

We'd have to calculate how much money we'd get from that in worst-case and best-case scenarios. And then see how much is missing.

[2016-09-01 09:05] ccdesales commented on #17
Don't forget that for company tickets we need to have actual invoices, as they're used for tax purposes.

[2016-09-01 09:27] dbrgn commented on #17
Would that be hard to do? I have a LaTeX template that we could adjust if someone requests it. Don't think we would need to provide invoices by default.

[2016-09-01 09:29] chiesax commented on #17
How do we handle early bird tickets?

[2016-09-01 09:31] chiesax commented on #17
Should we increase the price if people pay on-site, or just open for on-site payments later (like one month before the conf), or both?

[2016-09-01 09:36] dbrgn commented on #17
What about allowing pre-payments until 2 weeks before the event with the reduced price, and then only allowing on-site payments? This way all pre-payments will be processed in time.

[2016-09-01 09:38] chiesax commented on #17
Meaning that reservations for on-site payments open 2 weeks before the event, with the same mechanism as last year?

[2016-09-01 09:38] dbrgn commented on #17
That is my suggestion, yes. What do you think? This will also reduce the number of people that sign up and don't come to the event.

[2016-09-01 09:39] chiesax commented on #17
Sounds good to me...

[2016-09-01 09:41] chiesax commented on #17
... hopefully people will prefer to spend some time to make pay us online, rather than speculating they can still get ticket on-site...

[2016-09-01 09:42] chiesax commented on #17
What I mean is that we could also consider an extra charge for paying on-site (like 5 CHF).

[2016-09-01 09:46] dbrgn commented on #17
Yes, that's what I suggested in my (edited) comment above :) 10 CHF would be a benefit in that we don't need that many coins but can use paper money instead. But 5 CHF would be OK too (although it's not much of an incentive to pre-pay anymore.)

We could also offer payment via bitcoin through https://bitpay.com/, it's really simple to set up. They send the transferred money in fiat currency to a S

[2016-09-01 09:52] chiesax commented on #17
10 CHF is even better, will give a stronger motivation to pre-pay.
As for bitconins, lets have it as a nice-to-have feature. Lets see how fast Postfinance is setting up our account before...

[2016-09-01 09:54] dbrgn commented on #17
Cool!

Bitpay free account offers up to 30 transactions per month and up to 1000$ daily. I think that should be enough for us. Business would cost 1% transaction fee (still much lower than credit cards around 2-3%).

[2016-09-03 19:10] ccdesales commented on #16
I'm also in favor of company tickets.

We could come up with some sponsor packages (free tickets for instance), but I'm not particularly in favor of giving too much power on deciding the conference program.

[2016-09-04 08:24] href opened #18 "Keep Track Of and Manage Helpers"
We need someone to keep track of all the helpers that want to help on the day of the conference and who is in charge of assigning them to various jobs.

This includes being on top of the helpers on the day of the conference. Making sure they know what to do and where to go.

Helpers are currently registered through the e-mail address. So anyone doing this job should be monitoring the incoming e-ma

[2016-09-04 08:43] #1 closed

[2016-09-04 08:43] #2 closed

[2016-09-04 08:45] href commented on #13
I'll close this ticket, since this position has been filled.

[2016-09-04 08:45] #13 closed

[2016-09-04 08:56] href commented on #16
I'm okay with company tickets, but they need to register anyway, so they don't end up unused.

[2016-09-04 08:58] href commented on #16
Without going into pricing yet, this is what I currently have in mind. Let me know what you think.

**Platinum (one spot)**
- Has the logo placed on all promotional materials (large size)
- May send one mass-email to all attendees through us (no sharing of addresses)
- Gets a 5 minute spot at the end of the conference to have a short presentation
- Gets the best booth spot
- Gets five company tick

[2016-09-04 09:02] href commented on #16
I'm however still unclear on how to add the t-shirt / lanyard sponsoring of last year into these tiers.

[2016-09-04 09:05] ccdesales commented on #16
I see not need for it. Sponsors will give us money and we buy what we need with that.

[2016-09-04 09:09] href commented on #16
I don't mean that they need to pay for it. I mean if you are the platinum sponsor, you might want to have your logo on the shirt. Or maybe the gold sponsors should have theirs on it as well.

[2016-09-04 09:15] ccdesales commented on #16
I see. We could offer them to provide us the lanyards, as some are quite
picky with their image copyrights.

On Sun, Sep 4, 2016 at 11:09 AM, Denis Krienbühl notifications@github.com
wrote:

[2016-09-04 11:28] dbrgn commented on #16
If there are no logos on the shirts we might even reuse them a year later :)

The platinum sponsorship should probably also include this line:

[2016-09-04 20:40] chiesax commented on #14
@andrekeller we should now open for registrations.

I did the job last year of polling the sheet from time to time and send confirmations. We decided to do this manually to reduce the overhead to handle an automated system.

Prices:
- regular early bird: 20chf
- businnes early bird: 50chf
- free for SPS members (registration required)

Once we have the account available (estimate at most two weeks

[2016-09-04 20:44] chiesax commented on #14
Minimal fields on the form: email address, name,  company name, ticket type...

[2016-09-05 07:17] href commented on #16
As per last nights committee meeting, these are the agreed upon sponsorship plans. They will also be detailed in the meeting protocol which will go out to all members later today:

**Platinum Sponsor (2000 CHF)**
Only one spot available!
- Has the logo placed on all promotional materials in the largest size (relative to other sponsors).
- May send one mass-email to all attendees through us (no sha

[2016-09-05 07:31] dbrgn commented on #14
We should also have a very small section on terms, where we state that users may receive 1 promotional e-mail from our platinum sponsor, sent by us.

[2016-09-05 08:17] href commented on #16
The plan is also available on the website now: http://www.python-summit.ch/pages/call-for-helpers.html#help-us-by-sponsoring-our-event

One gold spot is already gone.

[2016-09-05 11:46] andrekeller commented on #14
@chiesax I was in holidays the last three weeks and will look into this tomorrow or on Wednesday.

[2016-09-05 18:11] ccdesales commented on #16
I've written Beekeeper and Divio to check whether they'd be interested in taking one sponsor spot.

[2016-09-05 18:31] ccdesales commented on #18
There are a couple of people who have registered as helpers and who are not part of the association. You can find the spreadsheet with their names by searching your Google Drive for "Registration for Collaborators 2017 (Responses)". Please ping me if you need access.

[2016-09-05 18:59] ccdesales commented on #9
If I recall correctly we've agreed to have the following prices:
- 20 CHF for private early bird tickets
- 50 CHF for company funded early bird tickets

[2016-09-05 19:00] #9 closed

[2016-09-06 07:15] href commented on #4
I added myself to general communications, that _is_ the secretary's job.

[2016-09-06 07:20] href opened #19 "Organize Catering / Social Event"
We need someone to organise the catering and the social event.

The person taking over this responsibility should organise coffee, tea and snacks like we had on last year's event (we did that together with HSR's catering). For the social event / afterparty we need drinks/snacks that fit into the budget. Here you'd want to ask the local beverage suppliers in Rapperswil for offers. Last year they we

[2016-09-06 07:29] jakeret commented on #19
I can dig out the mails from the breweries.

Who did take care over the catering last year? Do we have any contacts?

[2016-09-06 07:34] href commented on #19
I think that might have been Beekeeper, but I wasn't involved much with this.

[2016-09-06 07:48] ccdesales commented on #19
@dbrgn handled the relationship with the brewery.

[2016-09-06 08:34] dbrgn commented on #19
I got the drinks from https://ght-shop.ch/. They offer free delivery and take back non-consumed bottles. We got Feldschlösschen Hopfenperle 0.3L last time.

The local brewery would be https://craftbier.ch/. Other breweries in the region:
- http://www.brauereiadler.ch/ (Schwanden GL)
- http://www.braukultur.ch/ (Uster ZH)
- http://waedenswiler.ch/ (Wädenswil ZH)
- http://sudwerk.ch/ (Pfäffikon ZH)

[2016-09-06 08:45] chiesax commented on #19
Depending on the budget, we should also consider a catering service with waiters included.

[2016-09-06 08:46] dbrgn commented on #19
Yes, but that will cause the costs to explode :)

Last time we got support by @sfkeller's staff, might that be an option again?

[2016-09-06 09:25] sfkeller commented on #19
Yes, our secretary would cost something. But I have again two new interns (Severin and Emil) which I "offer for free" (besides my own humble contributions) :-).

[2016-09-07 13:27] href opened #20 "Social Media Communication"
Now this one is fun. We need someone to man our Twitter account before and most importantly during the conference. As an added bonus you can call yourself a social media expert after a few tweets! ;)

Anyone interested, speak up.

You are also welcome to delegate this to a day-of-the-conference helper, if you can find someone. Last year I think we had an attendee that did it.

[2016-09-07 13:59] The-Compiler commented on #20
Sounds like fun indeed - this is something I could see myself doing :smile:

[2016-09-07 14:05] href commented on #20
The job is yours! :)

[This is you, right?](https://keybase.io/the_compiler) - If so, I'll send the credentials to this contact.

Happy tweeting!

[2016-09-07 14:06] href commented on #20
Silly me, I can actually verify it's you :)

[2016-09-07 15:41] andrekeller commented on #14
@chiesax I created a simple form in my own google drive. With whom should I share this ? It would be great if someone could have a quick look over it.

[2016-09-07 15:59] chiesax commented on #14
hey thanks yes you can share it with me, my account name is schiesax.

[2016-09-07 16:17] chiesax commented on #14
looks good to me.
Should we also add some information about the registration process, something like "you will shortly receive an invoice with payment instructions, registration will be confirmed once the payment has been received" ?

[2016-09-07 16:28] andrekeller commented on #14
How about as a message on form submission:

[code]

As @dbrgn proposed in https://github.com/SwissPy/sps17/issues/15#issuecomment-237355015, we can inform them about the reservation conditions in the mail with the payment instructions.

So for the process:
1. they fill out the form
2. I'll send them a reservation confirmation with invoice and payment instructions. Seat is reserved for 30? days
3.

[2016-09-07 16:45] chiesax commented on #14
as mentioned by @dbrgn in #17, the Aula is suited for 250 attendees.

[2016-09-07 18:33] href commented on #14
Are we going to go for all 250, or do we need to reserve some space for booths and the video camera?

[2016-09-07 19:12] dbrgn commented on #14
I'd try to limit it to 210-220 for now. We can still allow more people in if there's a waiting list. But we should take a look at the room first.

[2016-09-07 20:06] dbrgn commented on #20
If you need assistance, https://twitter.com/birdy1976 did a great job last time :)

[2016-09-07 20:48] The-Compiler commented on #20
I think we can set up [Tweetdeck](https://tweetdeck.twitter.com/) so various people can be given permission to tweet with that account easily - at least that's what we did for [`@pytestdotorg`](https://twitter.com/pytestdotorg). Then I'd propose adding birdy1976 and anyone else here who feels like they have something good to say to that.

Does that sound like a good idea?

[2016-09-09 07:42] href commented on #11
Posted it on reddit, please upvote: https://www.reddit.com/r/Python/comments/51w8st/the_swiss_python_summit_2017_is_looking_for/

[2016-09-09 08:04] The-Compiler commented on #11
I also submitted it to the [Linux Weekly Newsletter calendar](https://lwn.net/Calendar/).

[2016-09-09 09:09] href opened #21 "Manage the Website"
We need a website manager that updates the content on the website. Since this is handled [in a repository](https://github.com/SwissPy/SwissPy.github.io) we of course can all work on it.

But as the responsible person you would be in charge of the design, the site structure and you'd be making sure that the end-result always looks great and stays up to date.

Of all the jobs we got, this is probabl

[2016-09-09 09:11] href commented on #4
I'm removing the day-program responsibility. I don't really see how this is a separate job. The talks are being voted on and the schedule is going to be decided afterwards by the same set of people.

[2016-09-09 09:12] href commented on #4
I'm also not sure about the sponsoring, I think this should be done by @ccdesales and me, since you'd want someone official to handle this (esp. since we might need to sign contracts).

[2016-09-11 03:30] chiesax commented on #21
We should now open for registrations, the form by @andrekeller is ready to go online...

Also, do not forget to add sponsoring informations, and some words about the association.

We urgently need someone to manage the website!!!

[2016-09-11 13:13] href commented on #21
We already got that ;)
http://www.python-summit.ch/pages/call-for-helpers.html

As for the registration, you should be able to push your own changes. As long as we have no-one specifically responsible for the website each team should probably just do the changes they way they see fit.

[2016-09-12 11:34] chiesax commented on #14
@andrekeller lets then publish the registration form... I can then add the link to the web site...

[2016-09-12 11:35] andrekeller commented on #14
@chiesax that would be great. Also it would help if you can prepare an invoice template, that I can fill out and send to registrants.

[2016-09-12 12:14] chiesax commented on #14
OK, but at present the association account is unfortunately not yet ready (there was a mistake in the protocol, so we had to send back some documents) and I would like to add the payment instructions to the invoice. So I suggest that if someone registers, we just send a confirmation, stating that payment instructions will shortly follow...

OR we may wait for the publishing of the registration ano

[2016-09-12 12:16] andrekeller commented on #14
Well the problem with allowing registration before we are ready is that it generates unnecessary overhead. So if we can wait until we have the account ready I'd be glad. If you think its necessary to start now, then I'll manage :-)

[2016-09-12 12:20] chiesax commented on #14
Then let's wait another week... I'll start to prepare the invoice template, so we can have it ready...

Should we use a plain open office text file, or should we go for a LaTex template?

[2016-09-12 12:22] andrekeller commented on #14
both is fine with me... I'll probably fill them in manually anyway...

[2016-09-13 08:06] href commented on #14
Can you make sure that we have a company field (for the free sponsor tickets), if you haven't already?

Also we should mention on the registration that we might send a single promotional e-mail from the platinum sponsor through info@python-summit.ch, whilst making clear that we are _not_ sharing anyone's address with said sponsor or anyone else for that matter.

[2016-09-13 08:51] chiesax commented on #14
Yes we should add the company field. The promotional terms are already there.

Should we also add a field "number of tickets"? (we just allow to buy many tickets of the same type in one submission)

[2016-09-13 08:57] href commented on #14
I wouldn't. We do want a list of individual names at the end. For sponsoring purposes as well as for giving out the tickets. Having N registrations on a single form submission complicates this I think.

[2016-09-15 08:35] andrekeller commented on #14
Another thing that came to my mind. Do we need to specify a refund policy? How do we handle cancellations?

[2016-09-15 08:44] ccdesales commented on #14
Other conferences offer refunds for requests filled up until specific dates. I'd do the same, let's say somewhere around 3 weeks in advance, when people should have clear understanding if they can make it or not, while allowing ourselves to adapt for things that depend on audience size such as the social event.

[2016-09-16 11:55] href opened #22 "Write a Contract for Each Sponsor Tier"
We need to write a contract for each sponsor tier. Do we have anyone that knows how to write good legalese? We can also collaborate here, so if anyone wants to give it a shot, just comment below.

[2016-09-16 12:14] dbrgn commented on #22
No experience with that, sorry :)

[2016-09-16 12:22] href opened #23 "Show a Picture of the new Room on the Website"
We should add a picture of the room on the website. This will make it clear that we are doing it a bit bigger this time around. It would also be useful for the sponsors.

@dbrgn Can you post the picture you shared in the chat at our last committee meeting?

[2016-09-16 12:28] dbrgn commented on #23
Here are some pics. The room:

https://www.iwk.hsr.ch/uploads/pics/20130905_RAKUFO8_pic1.jpg

Size of the stage:

http://www.linth24.ch/uploads/pics/Diplomfeier_HSR_Sept_2014.jpg

They're not particularly good though, and I'm not sure if we can use the pictures. Maybe I can drop by and take a few pictures.

[2016-09-16 12:31] href commented on #22
Well things we have to mention, imho:
- All perks promised to each tier
- What happens if we have to cancel the conference for some reason
- When the contract comes into effect (after payment is made)
- Some disclaimer about how this is a volunteer effort and that we are not responsible for any negative kind of news surrounding the event (say if we trigger a shit-storm for whatever reason).

[2016-09-16 12:31] href commented on #23
Please do if you have a chance 👍

[2016-09-19 16:26] href commented on #19
By the way, we should also reserve a room for the afterparty!

[2016-09-19 16:27] dbrgn commented on #19
@sfkeller can we get the same room again as last time? or maybe the space outside the aula?

[2016-09-19 20:47] sfkeller commented on #19
The good thing about the aula is that the space (Foyer) in front of the Aula belongs to the Aula and thus is inclusive. This Aula Foyer can be opened to the Aula (swinging doors). It's also convenient for the catering of the SV Service since they have the fridge room just nearby.

[2016-09-20 21:41] chiesax commented on #22
... adapted from http://www.acmpglobal.org/mpage/2013SPONSFORM

This agreement is between the Swiss Python Summit Association and XXXX. This agreement provides the terms and conditions for sponsors of the Swiss Python Summit 2017, February 17, 2017 Rapperswil, Switzerland.

Description of benefits and sponsor obligations

Sponsor payment. Sponsors agree to pay the full sponsorship fee within 30 da

[2016-09-20 22:21] chiesax commented on #22
... added here: https://github.com/SwissPy/sps17/tree/master/contracts

[2016-09-21 06:26] href commented on #22
Awesome, thanks @chiesax ! @dbrgn Can you push your LaTeX templates for the letter, contract and bill? Then I can send out the contracts.

[2016-09-21 06:30] dbrgn commented on #22
Will do tonight, when I'm back home!

[2016-09-21 07:01] jakeret commented on #22
Impressive ;-), well done

[2016-09-21 09:14] chiesax commented on #22
we should probably add some more details about the logo...
- the logo of Platinum Sponsor is placed on a large size format on all promotional materials, included but not limited to the internet site of the conference, lanyards, the printed version of the conference program, posters, video recordings of the conference, ...

also we may say for the aperitif dinner: we will write, on the conference p

[2016-09-21 09:23] chiesax commented on #14
@andrekeller the account is finally ready...
Could you add the previous refund policy to the online form? We should also add a statement that we will refund the ticket if the event is canceled by unforeseen circumstances (although I do not even want to imagine the overhead of refunding 200 people :cry: , so we may better not cancel the event... ).

[2016-09-21 09:27] andrekeller commented on #14
sorry, I caught the flu an was spending the last 3 days mostly in bed. Will have a look tomorrow the latest so we can get this on the website by the end of the week.

[2016-09-21 09:35] chiesax commented on #14
OK, recover well then...

For the invoices we will be using wave:
- I will grant you permissions in wave to send invoices,
- I will create three "products" in wave (regular early bird, company early bird, sps member ticket) and link them to an appropriate "ticket sales account".

To send the invoices the fastest would be to use wave to send the email, but the problem is that **there is no feedback

[2016-09-21 09:43] ccdesales commented on #14
PyData Cologne 2016 is cancelled because of a fire at their venue!

Get well soon Andre!

[2016-09-21 09:50] chiesax commented on #14
if we refund one ticket a day, we will be over in 200 days :grin:

[2016-09-21 09:55] chiesax commented on #14
better say, in case of unforeseen circumstances, no refunding of the ticket, but the SPS will donate your money to the Python Foundation :smiley:

[2016-09-21 09:57] chiesax commented on #14
... and that's good for your Karma ...

[2016-09-21 09:59] dbrgn commented on #14
BY the way, can we change the content of the invoice e-mail? The one I got for the association didn't contain a proper description :)

Attaching a PDF and including a link in a (manual) e-mail would probably look best.

[2016-09-21 10:00] chiesax commented on #14
one can add header and footer notes (to the invoice, but the email generated by wave cannot be modified), and a description of the purchased item (footer note contains the the payment instructions), and possibly more

[2016-09-21 10:18] The-Compiler commented on #14
I agree. "Below please find a link to Invoice #10." and a random link almost went to spam here :wink:

[2016-09-21 10:47] href commented on #22
Actually I think it's better to let this be vague. If it's specific it only makes it harder for us.
Also, promotional materials does not include everything, lanyards or t-shirts are not promotional in my opinion.

[2016-09-21 13:21] The-Compiler opened #24 "Stickers"
Do we want SPS17 stickers?

I ordered stickers before at [Flyeralarm](http://www.flyeralarm.com/ch/shop/configurator/index/id/34/aufkleber-outdoor.html#) and was really satisfied with them - and they're really cheap!

For example, for DIN A8 Stickers (5.2 x 7.4cm) 1000 stickers would be 33 CHF (100 are 26 CHF :wink:).

If someone can take care of a design, I can take care of ordering them and gett

[2016-09-21 13:43] href commented on #24
I'm okay with this :)

[2016-09-21 13:45] jakeret commented on #24
Cool idea

[2016-09-21 16:13] The-Compiler commented on #24
As for the design, what about just filling up [python-summit-with-text.svg](https://github.com/SwissPy/SwissPy.github.io/blob/source/content/images/python-summit-with-text.svg) at the top/bottom so it fits on an A8 sticker, with a little margin at the left/right?

Can I order them and then get the money reimbursed somehow? How many?

[2016-09-21 16:22] href commented on #24
Why not just use the logo without text? Ideally cut around the edges?
Or were you thinking of having rectangle stickers?

As for ordering, I'd wait until we get the sponsoring money. Also, the treasurer should have the last say on this :)

[2016-09-21 16:24] The-Compiler commented on #24
Logo only with a square sticker (4x4 or 5x5cm I'd say) would work as well, sure!

[2016-09-21 16:26] href commented on #24
In this case I'd vote for circle stickers.

[2016-09-21 16:46] chiesax commented on #24
I agree lets wait at least for signed sponsor contracts and membership fees. 33chf should not be a problem, I can then refund you by bank transfer...

[2016-09-22 06:31] dbrgn commented on #24
I'd also vote for circle stickers with the logo only, if that's available :)

[2016-09-22 16:15] andrekeller commented on #14
Hi @chiesax,

I'm back on my feet :-)

So what do we put as refund policy? I like the donating to PSF idea. Other than that we do not need to adjust anything on the form, yes?

I guess sending the E-Mail using the info@python-summit account and attaching the PDF will work just fine.

[2016-09-22 21:47] chiesax commented on #14
OK, let's say then that in case of cancellation of the event the money will be devoluted to PSF...

Then we add the link to your form to the site and let's see how many people are registering...

[2016-09-24 09:14] chiesax commented on #14
@andrekeller when you are ready with the form I can modify the site and open the registrations...

[2016-09-25 11:32] href commented on #22
I drafted the contracts/invoices for 4Teamwork and Seantis:
https://github.com/SwissPy/sps17/tree/master/contracts

I took the intellectual property and completeness bits out. I think it goes a bit too much into legalese. As important as language is in a contract, at the end of the day it's the intention that counts and that is clear with/without those paragraphs.

As non-lawyers we can get away w

[2016-09-25 17:03] andrekeller commented on #14
@chiesax: Please proof read my changes a feel free to publish if you are happy with the form.

[2016-09-25 22:36] chiesax commented on #14
registration is now open...

[2016-09-26 04:49] The-Compiler commented on #14
https://twitter.com/pythonsummit/status/780267813680320513 :wink:

[2016-09-26 04:49] The-Compiler commented on #20
I did set up tweetdeck now and it works beautifully - if anyone else wants access to the account, let me know!

[2016-09-26 06:27] href commented on #14
Be aware that the SwissPy repository wasn't updated with the changes pushed to the GitHub. The repository needs a little _push_ ;)

[2016-09-26 08:04] href commented on #14
By the way, we should remove 8-10 spots from the amount of people we allow, because until the speakers get their confirmation I would assume they don't register.

[2016-09-26 08:08] href commented on #11
It's on Techup.ch as well now: http://techup.ch/2369/swiss-python-summit-2017

[2016-09-26 11:11] bkarolina opened #25 "Real time questions during the talk"
Hi guys,

some of you i mentioned in July one product: sli.do, which I found really useful (it was used at Slovak Python Conference this year).

https://www.sli.do/features-questions

Basically, instead of asking questions after the talk you can ask question during the talk via their app. Firstly, you need to sign in with #yourhastag to the event. Then you can ask a question. As a participant you

[2016-09-26 11:20] bkarolina commented on #12
I would like to take this. And some help/advice/guidance will be appreciated ;-)
I suppose that event poster should be done asap? (if we want to spread them at universities?).

[2016-09-26 11:30] dbrgn commented on #12
I think @href already did one, but I think it wouldn't hurt if we have another design.

@bkarolina why don't you create one without having seen Denis' poster? then we get more new ideas :)

[2016-09-26 11:31] href commented on #12
Actually I just created one possible event poster yesterday :) - I'm waiting for the logos of our sponsors before publishing it. [I posted a sneak-peak in the chat yesterday](https://swiss-python-summit.slack.com/files/href/F2FM48RQX/screenshot_of_sketch__25-09-16_15-03-51_.png).

But I'm not married to my poster, so feel free to create your own. We can have multiple designs or chose one out of ma

[2016-09-26 11:31] andrekeller commented on #25
Hi,

I like the idea. Maybe there are other tools around offering similar functionality?

[2016-09-26 11:33] dbrgn commented on #25
I also like the idea.

Participants don't need to sign up anywhere, right?

[2016-09-26 11:33] href commented on #25
At Frontendconf they did the same thing with a twitter hashtag. It seemed to work reasonably well.

I'm not sure I would be ready to pay for it, since 149€ is something we might want to use for other optional things (like snacks at the afterparty for example).

[2016-09-26 11:40] bkarolina commented on #12
I didn't notice it :-O But acutally I like the text of the poster @href :-)
Anyway, I can try to do another design of the poster. Or just help with the rest of the prints. I'll let you know this week whether I succeed with another poster design.

[2016-09-26 11:41] dbrgn commented on #12
We should also have a flyer design. Or do we already have promotional flyers?

[2016-09-26 11:42] dbrgn commented on #25
The free offer is probably already better than twitter hashtags.

[2016-09-26 11:45] bkarolina commented on #25
@dbrgn no, they just need to put #eventhashtag. Free offer is also fine. As I mentioned, what I like about Private option is moderation. With free version, I just hope that no one would ask some unrelated questions.
Still, I agree free version can be better than twitter.
@href I am aware of budget limits in this, therefore I suggested it here. We can do it via twitter hashtag, or later when we wou

[2016-09-26 11:47] dbrgn commented on #25
Unrelated questions can be ignored by the speaker :) I think offensive questions would be the bigger problem.

[2016-09-26 11:47] ccdesales commented on #25
Other conferences are using Telegram (Europython) or Slack (PyConUK). I definitely liked Slack, as there were different channels one could join for different topics.

Given we have not yet covered 100% our target for sponsors, I would see ski.do as only nice to have.

[2016-09-26 11:50] dbrgn commented on #25
No, I'm definitely against a solution where users need to sign up. Especially closed source ones.

By the way, keep in mind that our budget was created based on the assumption that there are no or very little sponsors, right? So we should already be well covered.

[2016-09-26 11:51] href commented on #12
We do not. I'm not sure how effective flyers are, unless we hand them out somewhere? But I'm okay with one in principle. We'd have to print them professionally though - the posters can be printed at home.

[2016-09-26 11:51] href commented on #25
In this case we should create an updated budget ;)

[2016-09-26 11:53] dbrgn commented on #12
Hm, true. I'm also not sure how to distribute the flyers. And regarding the budget, maybe @chiesax knows more now that we already have 3 sponsors.

[2016-09-26 11:53] href commented on #14
I got two questions about this already on info@python-summit.ch:

Can we do that? Maybe add some text to this effect.

[2016-09-26 12:00] andrekeller commented on #14
I just posted this on slack as-well:

Is it okay if I add:

[code]

[2016-09-26 12:02] dbrgn commented on #14
Maybe let's reword instead:

CHF 20.- if you pay your ticket yourself, e.g. unemployed or self-employed people and/or students (EARLY BIRD)
CHF 50.- if a company pays your ticket (EARLY BIRD)

[2016-09-26 12:06] bkarolina commented on #25
I am new with Slack and I've first heard of Telegram right now. So I don't know what they are capable of. Can you order messages in Slack according to likes? This is something, that is done automatically in sli.do. How do you evaluate the most "wanted to-be-asked" question in Slack?

[2016-09-26 12:32] chiesax commented on #14
I would also add

CHF 50.- if a company pays your ticked, the company name will be visible on the lanyard cards

[2016-09-26 12:34] href commented on #14
We didn't discuss this yet actually.

[2016-09-26 12:38] ccdesales commented on #25
No sorting or moderation of any kind that I'm aware of. People can react and add +1 to questions, and the somebody could take the ones on top of the chat window, or the ones that seem to have more +1's

[2016-09-26 12:45] chiesax commented on #14
Ok, sorry, I was somehow implicitly assuming that businesses tickets will have their company name written on the lanyard cards...

[2016-09-26 13:41] andrekeller commented on #14
Hmm good point. I'll add that to the confirmation mail. I'll tell them that the company names are printed on the badges unless they opt out.

[2016-09-26 13:42] chiesax commented on #14
@andrekeller please wait, I have moved the discussion to the committee...

[2016-09-26 13:43] chiesax commented on #14
We are probably not printing it, since it may be an overhead to handle the printing of the lanyard cards.

[2016-09-26 13:46] chiesax commented on #14
Let's have an update on this tomorrow...

[2016-09-26 14:13] andrekeller commented on #14
https://www.officeworld.ch/avery-zweckform-namensetiketten-l4784-20-635-x-299-mm-30827.html something like this could be easily printed...

[2016-09-26 15:12] href commented on #14
The printing is the easy part. Typesetting 200 names and making sure everyone gets the right tag at registration is the hard(er) part.

But it's certainly doable. Just saying what last year's reason for a single tag was - you need one page, print it n-times and hand it out without doing any lookups. It's as simple as it can get.

Maybe we can do it differently this time around. Last time I was con

[2016-09-26 16:40] andrekeller commented on #14
Well, I guess it is easier this time, as we do not need to handle payments. I do not think that it takes longer to find a name on a alphabetically ordered list of names than it takes the attendees to fill out their badge.

[2016-09-26 19:33] chiesax commented on #14
@andrekeller I like your idea of stickers, it is cheap and we can handle the printing, and are easier to distribute compared to lanyard cards. For a one day event, a sticker may be enough.
Actually we do not really know how many people will pay by bank transfer, and how many on-site, but we could have a set of emtpy stickers to be filled manually for on-site registrations.

[2016-09-26 19:36] chiesax commented on #14
Just beware of what written on the sticker box: Nicht geeignet für Wildleder, Samt und Seide 😸

[2016-09-26 19:38] chiesax commented on #14
In principle we could even stick the sticker on a lanyard card...

[2016-09-26 20:19] chiesax commented on #14
@href could you tell the sponsors that they do not need to register for the tickets they already got? Just adds noise to the registration sheet... Would be great if they could send us a list of participants at some point.

[2016-09-26 20:23] #8 closed

[2016-09-26 20:24] chiesax commented on #14
So Seantis has two tickets left...

[2016-09-26 20:29] chiesax commented on #14
@andrekeller I have granted you full permissions on Wave.
I have added the "SPS17 regular early bird ticket" and the "SPS17 business early bird ticket" products, that can be selected when creating an invoice.

[2016-09-26 20:50] The-Compiler commented on #25
Telegram/Slack for _talk questions_? I didn't see that at Europython, and it seems to me like we're overthinking it at this point...

[2016-09-27 06:27] href commented on #14
I'm afraid I already told them to write the company name and to use a company ticket. If I tell them otherwise now it would seem a bit disorganised from our side, so I'd rather not.

[2016-09-27 07:19] ccdesales commented on #25
Sorry I wasn't clear. I saw Telegram and Slack used as general chat in other conferences, but not for questions on the talks. I was suggesting they can use as ersatz for 150€ sli.do.

[2016-09-27 07:21] The-Compiler commented on #25
I'll have to disagree. When I need to set up Telegram or Slack accordingly before asking a question, I'm not going to ask.

[2016-09-27 08:48] jakeret commented on #25
As long as questions can be asked in a conventional manner I don't really mind. But frankly, this sounds a bit like overkill

[2016-09-27 08:53] andrekeller commented on #14
@href and @chiesax I actually do not mind at all if they sign up. Means we have all attendees in one place.

[2016-09-27 08:53] dbrgn commented on #25
The advantage that I see is that you can add a question to the list of questions as soon as you think of it. If you have to wait until the end, either you already forgot the question, or maybe you're too shy to ask in the first place. sli.do would solve that issue, and additionally provide a way to prioritize questions, avoiding the classic self-promoting-statement-disguised-as-a-question question

[2016-09-27 09:08] The-Compiler commented on #25
Yeah, something you can use easily from a (mobile) browser sounds like a good idea (we should probably just write an opensource alternative to sli.do some day :wink:).

I'm not sure where the prices quoted here come from, according to https://www.sli.do/pricing we'd need to pay 199 GBP + VAT (250 CHF) for a one-time thing with over 5 question sessions.

That's definitely too much, IMHO.

What I wa

[2016-09-27 09:10] dbrgn commented on #25
No, that's just necessary if you want to do many polls. What we need is "Interactive Q&A", I think. With moderation it's 149€ excl. VAT, without moderation it's free.

We could also request a free demo.

Yep, shouldn't be all too complicated if we just need questions, voting and moderation.

[2016-09-29 18:07] href commented on #12
Ok, we are ready to get cracking. I got the logos of all our sponsors. I only have dark on light logos at this point. I'm not sure we can get the inverse for everyone. If we need it I'll ask.

The logos of the sponsors as well as our own logo is here:
https://github.com/SwissPy/sps17/tree/master/resources

The font used in our logo as well as on all previous posters is Open Sans. I suggest we stic

[2016-09-29 20:51] chiesax commented on #12
Well, I will come back to you with a new version of the budget. But the calculation is quite easy. We basically have 2500CHF to spend. Question is how?

[2016-09-29 21:15] href commented on #12
Looks like vshn is going to be a silver sponsor, which will complicate the design somewhat as we need to add a single smaller logo at the bottom or so. If we gain three silver sponsors that works better.

[2016-09-30 07:05] href commented on #20
@The-Compiler Sign me up! I could use it for some timed tweets about our sponsors :)

[2016-09-30 09:32] href commented on #12
Heads up, the current 4teamwork logo's colors were slightly off. If you used it anywhere already get the fixed svg from the repository.

[2016-10-02 12:03] href commented on #12
I created a first promotional poster that I think we can hang up: https://github.com/SwissPy/sps17/blob/master/resources/prints/promotion.pdf

Let me know if I should change anything.

[2016-10-03 10:47] chiesax commented on #19
@sfkeller we would like to evaluate the budget for the catering, with the possibility to let them handle the after party event as well. Can you give us more informations on available services or the address of a contact person? Thanks...

[2016-10-03 10:48] chiesax opened #26 "Invited Speaker"
[y/n] ?
if 'y' who?

[2016-10-03 10:51] sfkeller commented on #19
It's Mr. Richard Vogel: See http://hochschule-rapperswil.sv-restaurant.ch/de/kontakt.html

[2016-10-03 10:52] ccdesales commented on #26
Y

[2016-10-03 10:55] ccdesales commented on #26
I've already mentioned and approached Brandon Rhodes. The only problem is he lives in Ohio.

http://rhodesmill.org/brandon/

[2016-10-03 10:58] chiesax commented on #24
We have 80CHF on the account, I would wait for the first sponsor payment for the stickers...

[2016-10-03 10:58] dbrgn commented on #26
Would probably be best to discuss this on Slack, otherwise all people mentioned become publicly google-indexed :)

[2016-10-03 11:00] ccdesales commented on #26
OK, I'll remove that last reference and open a new Slack channel.

[2016-10-03 18:17] sfkeller commented on #11
@href: Just FYI: Techup.ch events are republished by ICT-Agenda: http://ict-agenda.ch/events/swiss-python-summit-2017

Other info & question: I'd like to announce a proposal from my institute most probably about this project https://twitter.com/murthy_10/status/771319216175710209 . Do you/we have enough proposals?

If not, we could use more channels, e.g. http://www.ossdirectory.com/oss-events/

[2016-10-03 18:24] ccdesales commented on #11
All proposals are welcome. Right now we don't really have many proposals.

[2016-10-04 06:43] href commented on #11
@sfkeller Thanks, that's actually nice :)

Please do submit a proposal, the more we get, the better the final selection.

[2016-10-04 07:37] dbrgn commented on #11
Yes, a talk about that would be great :)

[2016-10-05 15:51] aoloe commented on #25
as far as i know, google slides has the feature...

https://support.google.com/docs/answer/6386827?co=GENIE.Platform%3DDesktop&hl=en

(i've seen it (not) used in a conference a few months ago)

personally, i find all chat & co. feature rather distracting.
it's already hard enough to get the audience to really listen to the conference...

paper planes with questions on them would be neat, though :

[2016-10-15 14:46] ccdesales commented on #12
Looks good to me. Do they fir in an A4 sheet?

Does someone have an idea where to hang the posters?

[2016-10-16 09:51] href commented on #12
Yeah, default is A4, but you can scale it up.

[2016-10-16 11:04] ccdesales commented on #25
OK, I've just seem sli.do in action. My thoughts:
- I agree wit Danilo in that it can be distracting to have people write and vote for the questions during the presentation.
- If the question is not clear, it's harder to have the asker elaborate, specially because many people post as anonymous
- It feels rather impersonal
- It can be useful to moderate questions ($$), but if somebody from the audi

[2016-10-16 11:14] ccdesales commented on #12
I guess we can consider this done. If any one needs the link it's in the repo, or in the list of closed issues.

[2016-10-16 16:27] href commented on #12
Actually we need more posters later, see ticket description ;)
Maybe a more ample description would be print materials.

[2016-10-17 06:45] sfkeller commented on #12
Dear all, dear @href :
I just got the task from @dbrgn to print the poster and stick it at HSR.
Nice design - as always :-) But is it possible to add the HSR logo to the design material? This can be smaller than others. But I think even if the rooms are paid there's still some sponsoring from HSR and definitely a strong support from my lab!

[2016-10-17 08:43] href commented on #12
@sfkeller

We're okay with having HSR as a silver sponsor (same logo size as vshn). We will waive your fee for it. It's in our interest, because it would result in an even number of logos which is easier to handle ;)

Plus we'll sure appreciate it to be able to lean on the same kind of support you offered us last time.

I'll update the poster within the next few days. I'll also add the logo to the

[2016-10-17 09:20] sfkeller commented on #12
Hi @href: Thanks!
I'll be able to plot several copies of poster (A0). One to be sticked at HSR main entry hall - and additional ones for your disposal: How many copies should I plot (then: to whom may I send them)?

[2016-10-17 11:57] href commented on #12
@sfkeller

The promotional poster has been [updated with HSR's logo](https://github.com/SwissPy/sps17/blob/master/resources/prints/promotion.pdf). It can also be found [on the website](http://www.python-summit.ch/#sponsors) now.

Is there an official HSR twitter account I can address our sponsorship announcement to?
It'll look like this: https://twitter.com/pythonsummit/status/784302250445246464

[2016-10-17 12:58] sfkeller commented on #12
You can refer to this Twitter account: "HSR_Informatik".

[2016-10-18 09:11] chiesax commented on #12
Hi, could you send me 3xA3 and 2xA2 posters to hang them at EPFL please?

[2016-10-18 09:14] The-Compiler commented on #12
I got the A0 poster from @sfkeller, but no way to fit this anywhere in the HSR, it's just way too big!

I'd suggest I hang up the A0 one at the CCCZH hackerspace (@dbrgn what about coredump?), and we hang A3 posters at various locations at HSR:
- Building 4 near the Sekretriat (they asked for two, one for building 1 somewhere?)
- Building 1 at the Informatik-wall
- Building 1 at the VSHSR-Wandzeit

[2016-10-18 09:14] chiesax commented on #12
Would be great if someone could stick some posters at ETHZ too...

[2016-10-18 10:59] dbrgn commented on #12
I can hang one up at Coredump, but A0 is a bit big. What about A1?

[2016-10-19 17:21] sfkeller commented on #12
So I'll print 5 x A3.
What about postcards? This format would be convenient to be distributed at hacker and other IT events.

[2016-10-19 18:53] dbrgn commented on #12
Yes, flyers wouldn't be too bad.

[2016-10-19 20:04] chiesax commented on #12
I think we need at least 8 A3 posters: 4 for Florian, 1 for Danilo and 3 for myself.

[2016-10-20 06:22] href commented on #12
@bkarolina Do you want to take a stab at postcards? It'll be at least a week until I have the time.

[2016-10-20 12:06] bkarolina commented on #12
Yes, I would like to. But can you tell me how it should like (what it should contain etc) as I am not familiar with a concept of event's postcard.

[2016-10-20 12:10] href commented on #12
It needs to contain the following:
- What
- Where
- When
- Website
- Sponsor Logos

Other than that you are pretty free. Ideally you use the sponsor logos more or less the way I did, because we have an obligation to have the them in these sizes (relative to each other).

[2016-10-20 14:05] dbrgn commented on #12
That's just the format. It's meant as an A5 or A6 flyer, right?

[2016-10-20 14:13] href commented on #12
I'd say A6 in this case. A5 is a bit big. Big enough to contain the my A4 poster in fact. A6 is too small, so we need something new.

[2016-10-21 10:10] sfkeller commented on #12
I've delivered 4 A3 posters to Florian. There's 1 left for @dbrgn and 3 for @chiesax : Can you tell me the postal addresse where I can send them to?

[2016-10-21 11:16] The-Compiler commented on #12
[x] 4 posters deployed at HSR :wink:

[2016-10-26 18:18] sfkeller commented on #12
[x] 3 posters A3 send by snail mail to @chiesax .
[_] 3 posters A3 left on my desk to be delivered to whom :wink: ?

[2016-10-27 07:01] dbrgn commented on #12
@sfkeller somehow I got an A0 poster, which is way too big for my use. did they get mixed up?

[2016-10-27 07:29] chiesax commented on #12
Thx @sfkeller got them.

[2016-10-27 07:48] sfkeller commented on #12
@dbrgn Ok. Then let's try another time: Can you send your colleage once again to my office in order to replace the A0 poster with the 3 posters A3? He can just show up during office hours.

[2016-10-27 10:30] bkarolina commented on #12
Hi all, I have some draft of the postcard (nevertheless I have some problem with one logo of sponsors). I am travelling for short vacation in a few minutes and I'll be back on Tuesday evening. So, I believe that on Wednesday I can post it here.

[2016-10-30 15:39] sfkeller commented on #11
Murthy and me both submitted a paper.
BTW: Where do you manage the proposals? Is there a Google Docs directory?

[2016-11-02 07:22] href opened #27 "Todos / Timeline until Conference"
Please add things I've forgotten and let me know what should be changed:

---

November
- [x] Publish Keynote speaker
- [x] Remove early bird ticket pricing

December
- [x] Decide which talks to accept
- [x] Publish talks, contact speakers
- [x] Plan talk times
- [x] Organise catering
- [x] Look for helpers
- [x] Find someone that does the videos
- [x] Order Badges (from Switzerland if not too exp

[2016-11-02 15:02] bkarolina commented on #12
Hi all,
this is only a draft (as I still have some problems with logos, to be more specific I have problem with logo of 4teamwork, I still get only "4" as a picture). And I am still in a quite hurry these days.

The empty space suppose to be a place for logos. Can you give me some feedback?

[postcard_good.pdf](https://github.com/SwissPy/sps17/files/566891/postcard_good.pdf)

[2016-11-02 15:12] href commented on #12
I like it! It passes min_geek_factor. The only thing I've noticed is the SPS logo, which seems slightly skewed. Or am I imagining things?

[2016-11-02 15:22] bkarolina commented on #12
@href it is really possible that it is skewed. In the final version I'll check it.

[2016-11-02 15:22] sfkeller commented on #12
Nice. Do we have the appropriate credentials to use the Monty Python Flying Circus image? I seldomly check this; but in this case of a postcard this seems neccessary to me.

[2016-11-02 16:40] jakeret commented on #12
I like the concept! Sweet
The spacing on the left, right, top and bottom is not the same for the images and the text. Either it should be aligned or completley different (maybe vertical centering of the right image)

[2016-11-02 16:42] jakeret commented on #27
November
- remove early bird ticket pricing

[2016-11-03 01:08] sfkeller commented on #12
@bkarolina Very important detail: Pls. write "Rapperswil" (not "Rapperswill"). See e.g. http://osm.org/go/0C0kY0xUs--?m= or http://demo.f4map.com/#lat=47.2235026&lon=8.8165333&zoom=18&camera.phi=-8.021

[2016-11-03 09:11] bkarolina commented on #12
@sfkeller thank you, I didn't notice this mispell. Second, I'll try to check how it is works with he appropriate credentials to use the Monty Python Flying Circus image. I have never done that so I hope that I'll find solution for this.

[2016-11-08 08:31] dbrgn opened #28 "Technical Infrastructure"
Ticket to handle infrastructure.

- live audio
- projector
- audio recording
- video recording
- lights
- room infrastructure
- video adapters

[2016-11-08 08:32] dbrgn commented on #28
I'd still be happy if we can find someone to take over the video recording item. I can provide introduction into the topic and help with any questions.

[2016-11-08 08:37] href commented on #28
Didn't someone else record last year? Can we ask that person to do it again?

[2016-11-08 08:52] dbrgn commented on #28
So far he didn't signed up. But recording won't be a big issue. I'm talking more about postprocessing. (I still didn't finish & upload the last two talks :flushed:)

[2016-11-10 13:28] href commented on #27
I moved the talk publication to December since we decide it then.

[2016-11-10 16:14] sfkeller opened #29 "Django Girls Workshop 19.2.2017"
Hi there, it seems that the Django Girls Workshop can take place at Saturday, 19.2.2017...
I'm mainly opening this issue in order to inform you.
These are following possible collaboration (sub-)issues:
* Help outreach (advertising) by pointing to Django Girls Workshop
* Ask registrants to help out as coach
* ...

[2016-11-23 10:41] bkarolina commented on #12
Hi guys,  here is a final version of the postcard (I hope now is everything alright - with formatting, (mis)spelling, etc).
I've downloaded a picture of the foot from Wikipedia -- I think it should be alright, regarding credentials. I didn't know that the foot comes from the painting from the 16th century, so I really believe this should not be a problem :-)

[summit_postcard.pdf](https://github.c

[2016-11-25 07:42] href commented on #29
Let's get this going :)

This is what we need in any case:

- [x] Mention it on twitter.
- [x] Add a paragraph about it on the website.

I will add this to the website and mention it on Twitter over the weekend.

I'm not sure yet we need to reach out to our attendees. Are more coaches needed?

If so we have multiple options:

- Let everyone know that have already registered.
- Mention it in the e-

[2016-11-28 10:53] href commented on #29
There's now a mention about the workshop on our website:
http://www.python-summit.ch/#learn-how-to-python-at-the-django-girls-workshop

I've also mentioned it on Twitter. Comment on this ticket if there's more we can help you with.

[2016-11-29 20:32] sam-88 commented on #29
Hi, thanks a lot and sorry for the late reply! :-)

I just put your logo and a link to your conference website on our website (djangogirls.org/rapperswil).

Also, I will mention your summit on our Twitter profile this week.

Will you send a newsletter/ email to your participants? If yes, it would be great if you could mention our workshop as well. Maybe some of your participants have female friend

[2016-11-30 06:49] chiesax commented on #29
Hi, will this be taught in english?

[2016-11-30 07:25] dbrgn commented on #29
To quote the website:

(So both German and English, but knowing some German helps.)

[2016-11-30 07:29] chiesax commented on #29
Thx.

[2016-11-30 12:35] chiesax commented on #29
@sam-88 we are sending an email to our attendees. Which informations should we provide? Are you looking for coaches?

[2016-11-30 14:01] chiesax commented on #29
... and yes feel free to send an email to your participants, thanks a lot!

[2016-12-01 07:50] href commented on #11
Since the call for proposals is over I'm closing this one.

[2016-12-01 07:50] #11 closed

[2016-12-01 07:51] #15 closed

[2016-12-01 07:51] href commented on #16
With the last open sponsoring spot potentially filling up these days we can close this.

[2016-12-01 07:51] #16 closed

[2016-12-01 07:51] #22 closed

[2016-12-01 07:52] href commented on #23
I'm not sure we need this anymore.

[2016-12-01 07:53] href commented on #24
@The-Compiler You got the stickers already, right? If so, please close this tickets (and do bring them to any future meeting ;)

[2016-12-01 07:54] href commented on #25
It looks to me like we're not going to do this. If you disagree, please reopen.

[2016-12-01 07:54] #25 closed

[2016-12-01 07:55] #26 closed

[2016-12-01 07:55] href commented on #28
Still no signup from this person? Can you ask him directly if he's interested to do it again?

[2016-12-01 08:00] dbrgn commented on #23
I still think it would be good to have for the speakers.

[2016-12-01 08:06] href commented on #12
I've added the staff t-shirt to the print materials to be produced. The t-shirts should be ordered this month.

Also a note about the badges. We discussed in the chat before to have a personal and a company badge. The badges would still stay anonymous, that is everyone writes in their name at the conference. To avoid last year's delivery problems with the sleeves we'll have to order fitting sleeve

[2016-12-01 08:10] href commented on #27
I've went through the tickets and cleaned up a bit to make sure the tickets reflect the plan in here. The talks are going to be selected next week. The following jobs are unassigned:

- [Find someone to do the videos](https://github.com/SwissPy/sps17/issues/28)
- [Organise the catering / social event](https://github.com/SwissPy/sps17/issues/19)
- [Look for helpers and organise them](https://github

[2016-12-01 08:26] sfkeller commented on #12
Yes.

[2016-12-01 10:15] The-Compiler commented on #24
No, I didn't order anything yet. I guess I could now?

It'd be great if someone else could take care of doing a design though, my Inkscape just crashes... :cry:

Probbably just the SPS logo in a circle (which is not part of the SVG), with 4cm diameter (smaller/bigger ones would als be available, but I think 4cm is about right).

See the [datasheet](https://www.flyeralarm.com/sheets/de/aufkl_mini_r

[2016-12-01 10:44] dbrgn commented on #28
Actually I don't remember his name anymore... :/

[2016-12-01 10:56] href commented on #28
Have you checked last edition's attendees-list? https://docs.google.com/spreadsheets/d/1NjWaL2QES_4BblXxWYJgAkaB_CW26E8q21pewX45_l8/edit#gid=963330719

[2016-12-01 12:10] dbrgn commented on #28
Found his name again in an old spreadsheet. He hasn't signed up yet.

Do we have a list of potential on-site helpers? Maybe we could ask those people first?

[2016-12-01 12:17] href commented on #28
We have one person that's not in the association. I meant to contact her anyway, to see if she wants to be part of the association:
https://docs.google.com/spreadsheets/d/1h7zmFT1L33Wx5BAnzAepZIHGUo3yUJASSVhhPKPRa54/edit#gid=694625947

Note that this is the old signup-sheet. New signups are meant to happen through a e-mail:
http://www.python-summit.ch/pages/call-for-helpers.html

[2016-12-01 12:20] chiesax commented on #24
Yes we can order them, just keep the receipt and I'll refund...

[2016-12-01 12:31] The-Compiler commented on #24
I'll order as soon as someone can give me a graphic conforming to the datasheet then (PDF or TIF, 300dpi, also [see this](https://www.flyeralarm.com/ch/content/index/open/id/20010/druckdaten.html#DatenAusBildbearbeitungsprogrammen)). Can't really easily do that with a broken Inkscape...

[2016-12-01 13:56] href commented on #18
As long as nobody's taking over this task I'll do it. Since I'm limited on time I'd appreciate help though. I mainly don't know how to attract more helpers at this point. Maybe we should eventually ask all the attendees to signup to a helpers list separately.

Until then I'll keep track on the already existing helpers sheet:
https://docs.google.com/spreadsheets/d/1h7zmFT1L33Wx5BAnzAepZIHGUo3yUJASS

[2016-12-01 14:03] sfkeller commented on #18
Done.

[2016-12-01 15:19] chiesax commented on #27
I am in to help organizing the catering / social event...

[2016-12-01 20:01] dbrgn commented on #24
I'll give it a try.

[2016-12-01 20:08] dbrgn commented on #24
Something like this?

![rect4585](https://cloud.githubusercontent.com/assets/105168/20810525/5ab588d0-b80a-11e6-9751-d911f25a4dcc.png)

Or do you want the name on it too?

[2016-12-01 20:41] dbrgn commented on #24
Here's a version with text and border:

![rectv2](https://cloud.githubusercontent.com/assets/105168/20811686/f6647904-b80e-11e6-9758-966f316d41d0.png)

[2016-12-01 20:44] dbrgn commented on #24
@The-Compiler it looks like they want CMYK. Did you order with them in the past? Was RGB fine too? Inkscape doesn't support CMYK natively.

[2016-12-01 21:17] The-Compiler commented on #24
I *think* RGB would be fine. Last time I used scribus to assign CMYK colors and tested them on a normal printer FWIW. I can do that part though, Scribus seems to work fine here :wink:

FWIW I prefer the KISS version without text, just looks more clean/simple/professional to me. What do others think?

[2016-12-02 05:43] chiesax commented on #24
Yes I also prefer the version without text, I don't like the fonts and their size, and there is too much text.

[2016-12-02 05:45] chiesax commented on #24
Maybe just have these words: Swiss Python Summit Association: And each word at 45deg from the other, as to form a swiss cross:

          'python'
Swiss    SNAKE   Summit
              Association

[2016-12-02 06:23] chiesax commented on #24
![spssticker2](https://cloud.githubusercontent.com/assets/4541764/20824863/380986dc-b860-11e6-8483-0351de47e730.png)

[2016-12-02 06:24] chiesax commented on #24
... I do not have time now to make curved text, just to give an idea...

[2016-12-02 06:40] chiesax commented on #24
![spssticker3](https://cloud.githubusercontent.com/assets/4541764/20825161/94137346-b862-11e6-942e-6ab95b231169.png)

[2016-12-02 07:26] chiesax commented on #24
Maybe we can remove association?

[2016-12-02 07:28] The-Compiler commented on #24
I agree with that, but I think I still would prefer the one without any text.

[2016-12-02 07:30] dbrgn commented on #24
I'd prefer the version with the name and URL, but the plain version would be fine for me too.

It's the one we use on all our print materials.

What if we only leave the URL and remove the name?

[2016-12-02 07:32] jakeret commented on #24
The one without the text looks really nice but somehow it might not be directly clear what's being represented.
I also like the one with the URL - makes it much clearer. Maybe color the text?

[2016-12-02 07:33] dbrgn commented on #24
This would be the one with URL only:

![rectv2](https://cloud.githubusercontent.com/assets/105168/20826269/01d8fe8a-b86a-11e6-8dcd-7a06f4e4c714.png)

[2016-12-02 07:35] chiesax commented on #24
can you try this but with the dark blue color of the pyramid, or the dark yellow color of the pyramid? Looks more harmonic to me if we use the same colors as the logo.

[2016-12-02 07:36] dbrgn commented on #24
![rectv3](https://cloud.githubusercontent.com/assets/105168/20826334/6feb24b6-b86a-11e6-8497-50b965a32059.png)

![rectv4](https://cloud.githubusercontent.com/assets/105168/20826364/9bb35d52-b86a-11e6-92db-69a6d56e727e.png)

[2016-12-02 07:42] chiesax commented on #24
I like it more, but it's somehow asymmetric. Maybe we can keep the "Swiss Python Summit" on top, with the same color?

[2016-12-02 07:45] dbrgn commented on #24
![rectv7](https://cloud.githubusercontent.com/assets/105168/20826494/9c9956b2-b86b-11e6-9f1a-62dad5495e93.png)

[2016-12-02 07:46] dbrgn commented on #24
And here's a version with slightly smaller logo (the current one looks a bit "crowded"):

![rectv8](https://cloud.githubusercontent.com/assets/105168/20826519/cb019712-b86b-11e6-852f-d3cd5da1926f.png)

[2016-12-02 07:47] chiesax commented on #24
which fonts are you using, I want to try another one just for fun

[2016-12-02 07:49] chiesax commented on #24
... anyhow this last one is a good candidate to me...

[2016-12-02 07:51] dbrgn commented on #24
It's Open Sans.

Here's the SVG for further experimentation:

[python-summit-sticker.svg.zip](https://github.com/SwissPy/sps17/files/626587/python-summit-sticker.svg.zip)

[2016-12-02 07:53] chiesax commented on #24
thx

[2016-12-02 07:59] The-Compiler commented on #24
I'm not sure if we can do the border - they show a "Sicherheitsabstand" of 4mm there. Either we can't print anything in those 4mm, or we should probably print the border bigger (over the "cut" of the sticker) to make sure there are no white spots. Not sure...

[2016-12-02 08:07] chiesax commented on #24
![python-summit-sticker](https://cloud.githubusercontent.com/assets/4541764/20826939/c735595e-b86e-11e6-9125-49c9da0b16bb.png)

[2016-12-02 08:08] chiesax commented on #24
Don't have Open Sans, so I used Sans. Just to give an idea. This way we do not have the border problem.

[2016-12-02 08:13] The-Compiler commented on #24
That URL is wrong - the correct one is a bit longer, and I think to look good it needs a bit more space around it. But then it'll probably be too small.

[2016-12-02 08:13] dbrgn commented on #24
That'll probably be too small if the diameter of the entire sticker is 4cm.

[2016-12-02 08:14] chiesax commented on #24
true

[2016-12-02 08:19] chiesax commented on #24
![python-summit-sticker2](https://cloud.githubusercontent.com/assets/4541764/20827158/5da054c4-b870-11e6-967a-553637ee1914.png)

[2016-12-02 08:21] chiesax commented on #24
![python-summit-sticker3](https://cloud.githubusercontent.com/assets/4541764/20827205/b0804bae-b870-11e6-90fc-f12043a2c4df.png)

[2016-12-02 08:23] chiesax commented on #24
... not easy ...

[2016-12-02 08:28] The-Compiler commented on #24
FWIW @href, @dbrgn and I earlier agreed on having the logo without any text :wink:

It's still what I prefer, followed by my initial suggestion (having [python-summit-with-text.svg](https://github.com/SwissPy/SwissPy.github.io/blob/source/content/images/python-summit-with-text.svg) on a rectangular A8 one).

I don't think we'll get the text to look good on a round sticker with a big logo.

[2016-12-02 08:29] chiesax commented on #24
![python-summit-sticker4](https://cloud.githubusercontent.com/assets/4541764/20827380/e251a190-b871-11e6-87c6-784b26545197.png)

[2016-12-02 08:35] chiesax commented on #24
swiss compromise
![python-summit-sticker5](https://cloud.githubusercontent.com/assets/4541764/20827497/9c8b1dde-b872-11e6-85ff-af3838fa9955.png)

[2016-12-02 08:38] chiesax commented on #24
![python-summit-sticker6](https://cloud.githubusercontent.com/assets/4541764/20827537/103e357c-b873-11e6-9136-ce99203c6cc3.png)

[2016-12-02 08:40] chiesax commented on #24
what about this last one?

[2016-12-02 08:40] The-Compiler commented on #24
I find that text confusing. It's not the "swiss summit" :wink:

[2016-12-02 08:40] chiesax commented on #24
anyhow python is implicit (there is already the python logo)

[2016-12-02 08:43] dbrgn commented on #24
People won't get that :)

I see two ways in which the sticker could be used:

Without text:

- People see it, find it cool and ask what it's about
- People see it and already know it
- People see it but have no idea what it represents

With URL on it:

- People see it, don't yet know the summit but understand what it is based on the text
- People see it, don't yet know the summit but can visit the

[2016-12-02 08:46] The-Compiler commented on #24
@dbrgn I was referring to https://github.com/SwissPy/sps17/issues/24#issuecomment-248823377 :wink:

Prices for the 4cm round ones:

100 Stk.	CHF 38.62
250 Stk.	CHF 40.32
500 Stk.	CHF 46.92
1000 Stk.	CHF 49.31
2500 Stk.	CHF 65.50
5000 Stk.	CHF 94.64

double that if we want two designs.

[2016-12-02 08:47] dbrgn commented on #24
Got me :laughing: That was before I tried the different versions though :)

[2016-12-02 08:50] The-Compiler commented on #24
FWIW I find https://github.com/SwissPy/sps17/issues/24#issuecomment-264393803 okay too. Wonder how it'd look without the border (and maybe scaled up a little bit) though.

[2016-12-02 08:55] chiesax commented on #24
![python-summit-sticker7](https://cloud.githubusercontent.com/assets/4541764/20827978/834f2100-b875-11e6-9419-8ca070e59a37.png)

[2016-12-02 09:02] chiesax commented on #24
... yes on 4cm diameter it is not so visible...

[2016-12-02 09:03] chiesax commented on #24
... but I am still convinced there must be an esthetically satisfying solution to put the text inside the logo...

[2016-12-02 09:05] chiesax commented on #24
(just I don not have more time for trials :unamused: )

[2016-12-02 09:07] dbrgn commented on #24
![rectv8](https://cloud.githubusercontent.com/assets/105168/20828250/efb2d4d0-b876-11e6-9775-481f7d47999a.png)

The curvature isn't correct, I could still fix that if desired.

I like the approach but don't think it's going to work out on this scale.

[2016-12-02 09:10] chiesax commented on #24
This one is good to me!

[2016-12-02 09:11] The-Compiler commented on #24
I think that with the correct curvature would be fine

[2016-12-02 09:16] dbrgn commented on #24
Like this?

![rc1](https://cloud.githubusercontent.com/assets/105168/20828577/7eb4370e-b878-11e6-94b0-5052e1c7e2b7.png)

[2016-12-02 09:18] chiesax commented on #24
:+1:

[2016-12-02 09:19] chiesax commented on #24
It's an impression or the text curvature circle is visible?

[2016-12-02 09:20] dbrgn commented on #24
Yeah, initially that was still slightly visible. I fixed it and re-uploaded the image, but Github caching seems to keep the old version... In the final version that'd be gone :)

[2016-12-02 09:33] The-Compiler commented on #24
Does this have 4mm space outside of the text?

[2016-12-02 09:33] chiesax commented on #24
As for the ordering budget, I'd say we can could go for the 1000 stickers. There is only 10CHF difference between 100 and 1000. And 1000 are enough for this year.

[2016-12-02 09:36] The-Compiler commented on #24
Yeah, it's crazy how stickers scale :wink: If we don't use them all this year, we can always keep them for the years to come as long as we have the same name and logo.

[2016-12-02 09:59] dbrgn commented on #24
![rc2](https://cloud.githubusercontent.com/assets/105168/20829890/6124a628-b87e-11e6-9772-4db71aa618d6.png)

Now it does. OK?

[2016-12-02 10:14] chiesax commented on #24
:+1:

[2016-12-02 13:41] chiesax commented on #24
Actually, this version of the sticker is really cool!
We could also imagine to print the same sticker in 4cm plus a bigger size, like 5cm?

[2016-12-02 17:26] jakeret commented on #24
![37162448](https://cloud.githubusercontent.com/assets/11830719/20843672/89103920-b8bc-11e6-9f64-3d92614ef187.jpg)

[2016-12-02 17:27] jakeret commented on #24
The last one is really nice. Is it the same font as the one on our website? How about bold?

[2016-12-03 18:04] dbrgn commented on #24
Yes, it's Open Sans.

Here's a PDF (version 1.3):

[python-summit-sticker-noborder.pdf](https://github.com/SwissPy/sps17/files/629007/python-summit-sticker-noborder.pdf)
[python-summit-sticker-noborder-white.pdf](https://github.com/SwissPy/sps17/files/629008/python-summit-sticker-noborder-white.pdf)

The first version still contains the grey background to see the actual shape of the sticker. It's

[2016-12-05 06:45] The-Compiler commented on #24
LGTM from a (very) quick look, their data check will probably tell me more once I place the order.

I also would like to opt-in for the "better" data check for 5.50CHF, which detects more mistakes and lets me take a look at the results before letting them print them (with the basic free one, if the data is readable it gets printed essentially).

That'd be a total of CHF 55.25 including VAT - I'll

[2016-12-05 06:55] chiesax commented on #24
👍

[2016-12-05 08:13] The-Compiler commented on #24
So I see two issues (but the data check succeeds :laughing:)

- The text is inside the "Sicherheitsabstand", which means it might get cut off (I think). Then again, it's a 4mm margin and we are around 2mm into it, so I hope that'll be alright...
- For some reason, their upload detects a second blank page (even if I convert it to a tiff) and I can't see why... and their preview with the cuttings ju

[2016-12-05 08:25] dbrgn commented on #24
Oh. Well, I did add a smaller circle representing the "Sicherheitsabstand", but I probably subtracted 4mm from the diameter, not from the radius... I also think that this should be enough (but I could try to add even more spacing).

Regarding the extra page, even when I import the PDF in Gimp it only shows a single page...

[2016-12-05 09:17] chiesax commented on #24
I have seen they also print stickers with 5cm diameter. It is just slightly bigger, but may be more appropriate to fit the text and the logo.

[2016-12-05 09:24] The-Compiler commented on #24
I have already ordered the 4cm ones (you upload the data after ordering), I'd rather not try to cancel that again now...

[2016-12-05 09:35] chiesax commented on #24
OK lets see how it goes. Just consider this option if you pass at their shop and are discussing with them.

[2016-12-05 10:18] chiesax commented on #24
by the way can you not just call them by phone?

[2016-12-05 10:19] The-Compiler commented on #24
I probably could, but getting some help in-person seems easier :wink:

[2016-12-05 15:17] href opened #30 "Setup Swissmadesoftware Promotion"
Swissmadesoftware will promote our event on their website and they will add our event to their list of partners: https://www.swissmadesoftware.org/en/home/partners.html

To do this we need to define a rebate code to the registration form, checked by the registration team (@chiesax and @andrekeller). This rebate code keeps the price at the early-bird level after the jump to the post-early-bird pric

[2016-12-06 09:41] href commented on #18
Since we'll also need t-shirts for all helpers, I've added a t-shirt size column. Please add your shirt-size to the list and if you haven't already, add yourselves to the list of helpers. You want to be on this list to get a t-shirt ;)

See also https://github.com/SwissPy/sps17/issues/12 where the t-shirt will be defined.

[2016-12-06 09:42] href commented on #12
Any suggestions about where to print the t-shirt?

[2016-12-06 09:53] dbrgn commented on #12
We got them from Spreadshirt (DE) last time. I liked the quality (B&W only though). VAT needs to be paid though.

[2016-12-06 10:10] The-Compiler commented on #12
I recently ordered 100 [B&C exact shirts](http://www.textil-grosshandel.eu/b-c-t-shirt-exact-190.html) at Textil-Großhandel - many mentioned they love the quality.

They offer various [printing methods](http://www.textil-grosshandel.eu/textildruck/), but you'll need to get at least 10 shirts.

[2016-12-06 13:25] bkarolina commented on #12
I have question about postcard -- they will be distributed direct at the conference or what is its destiny? (I am sorry about this stupid question, but I am still not familiar with concept of postcard).
And if they needed to be printed, should I take care of it? Or do you any suggestion where they can be printed?

T-Shirt --> I like @The-Compiler suggestion. I always prefer shop with some personal

[2016-12-06 13:33] bkarolina commented on #18
How many helpers have you got last year? Or, how many helpers do you think it will be needed?

[2016-12-06 13:35] href commented on #18
That's a good question. I think including interns and ourselves we were like 10 people? Does anyone have reliable data?

[2016-12-06 13:37] bkarolina commented on #19
Do we now by now what it is budget for the catering this year? And do we have space for afterparty? Sorry if those questions were somewhere already answered, I just didn't catch it. Have somebody already assign for organizing it? I could help, but I don't want to do it alone.

[2016-12-06 13:39] href commented on #12
I think the postcard is meant to be handed out in an on-demand basis. E.g. if anyone of us goes to a talk we can print the postcard beforehand and then hand it out. I'm not sure how much sense it makes to print them professionally now and then hand it out to all members.

I'd say we'll have somewhere between 10 and 20 shirts. Though our budget actually has room for 30 shorts for 14.- each. Maybe w

[2016-12-06 13:40] chiesax commented on #12
I agree to give a shirt to the speakers...

[2016-12-06 13:40] bkarolina commented on #12
Yes, I like this ideas as well.

[2016-12-06 13:43] bkarolina commented on #28
I don't know anybody who can record videos, but I can ask a friend of mine, whether she would be interested to make a postprocessing (cut of videos) if this is necessary.
How many talks we will have? (to have an idea how much work it will be for her).

[2016-12-06 13:49] chiesax commented on #19
Hi Karolina, yes I am in to help organize the catering and social event.

[2016-12-06 13:50] chiesax commented on #19
I suggest to start organizing it after we have agreed upon the program, that is next week...

[2016-12-06 13:54] chiesax commented on #19
We have a budget, but it should be reviewed. The most difficult would be in my opinion to estimate the actual number of attendees. But since we are using the HSR on-site catering service, it will be probably easy to scale the catering on the number of attendees. For this we need to contact It's Mr. Richard Vogel: See http://hochschule-rapperswil.sv-restaurant.ch/de/kontakt.html for an offer.

[2016-12-06 13:55] dbrgn commented on #28
Probably around 8 again...

I had a discussion with @chiesax I think about recording audio directly, that would reduce the effort of postprocessing. I'd be willing to do it again if nobody else wants to do it.

But yes, we do need someone to watch the camera and do the recordings. It's not a difficult job though :)

[2016-12-06 13:56] dbrgn commented on #18
I can share last year's helper spreadsheet with you, @href!

[2016-12-06 14:03] href commented on #18
Thanks! We had 15 helpers last time. I think that's a good number to aim for again this time around.

[2016-12-06 14:09] bkarolina commented on #19
@chiesax Ok. As I wrote I'll be happy to help with it. I'll wait after the budget will be reviewed and we agree upon the program.

[2016-12-06 14:33] The-Compiler commented on #12
FWIW make sure to make some calculations first - for example, when you need ~30 with silkscreen printing (which is what I went with), ordering 50 is actually cheaper because the shirts are cheap (2.61€ per shirt for the one I linked), and the printing is much cheaper (silkscreen with 1 color: 2.47€ per shirt starting with 50, 5.48€ per shirt for 20-49).

[They can do that too](http://www.textil-gr

[2016-12-07 11:01] The-Compiler commented on #24
So I did end up calling them, and that's apparently some bug with their web interface.

However, they noticed the sticker isn't centered properly:

![centered](https://cloud.githubusercontent.com/assets/625793/20965130/a9bc98ba-bc74-11e6-902e-26598563ef76.png)

Us going over the blue line a bit shouldn't be a too big problem they said (they've seen worse :laughing:)

If you look at the distance fr

[2016-12-07 12:16] Feuermurmel commented on #24
A side note about the 4mm safety margin: That margin is just there to keep people from placing important stuff too near to the border and has no impact on printing.

One thing we have to keep in mind is that when cutting the sticker, there's going to be a certain variance in positioning (probably well below 0.5mm). Now with a symmetric design that is very close to the border, a small shift to one

[2016-12-07 15:09] ccdesales opened #31 "Create program"
We can document here the steps until a program is defined.

[2016-12-07 15:10] ccdesales commented on #31
The program from last year, for reference:

[2016-12-07 15:18] href commented on #31
Just a reminder: this year we have one slot less as we already have a keynote speaker.

[2016-12-07 16:11] href commented on #30
FYI we need to finish this document by Friday evening. At the same time we want to be able to accept the rebate in the registration form (by then we switch to post-early bird). The mailer goes out next week, so we might see some more users thanks to this.

The rebate code will be defined in the chat, not publicly.

[2016-12-08 06:55] The-Compiler commented on #24
Can't really tell, but I'll order as soon as everything seems alright and then they'll need 1-2 weeks.

[2016-12-08 09:35] chiesax opened #32 "Setup Call For Posters"
During the last meeting we have decided to setup a call for posters. At the HSR Aula, there is room for approximately 40 posters. The posters will be placed close to the coffee / social event, which will offer the possibility to trigger interesting discussions during the breaks!

[2016-12-08 09:40] chiesax commented on #32
How it should work:
- we set up a google form to register the posters,
- we add a comment on the registration form about the size of any company logos on the posters (I suggest the logos must not take more than 5% surface of the A0 poster, otherwise they may be rejected at the conference)
- we just verify that the abstract has something to do with python, but we do not make a proper selection as f

[2016-12-08 09:45] chiesax commented on #32
(just before the conference --> lets say two weeks in advance)

[2016-12-08 09:45] href commented on #32
Note that we might want to reserve a few of the available slots for our own posters, like the program or the job-board.

[2016-12-08 09:46] chiesax commented on #32
30 posters then?

[2016-12-08 11:19] dbrgn commented on #24
Better?

![rc2](https://cloud.githubusercontent.com/assets/105168/21008144/af8cb4ce-bd40-11e6-80ef-181bcd88e9a7.png)

And here's the PDF

[python-summit-sticker-noborder-white-2.pdf](https://github.com/SwissPy/sps17/files/639216/python-summit-sticker-noborder-white-2.pdf)

[2016-12-08 20:39] jakeret commented on #30
I'll have a go tomorrow evening and will send you the draft.
But first I need access to the document ;)

[2016-12-08 21:10] href commented on #30
Did you get it now? I think I didn't have the right Google ID for you on the memberslist.

[2016-12-08 21:54] jakeret commented on #30
All good now. Thanks

On Dec 8, 2016 10:10 PM, "Denis Krienbühl" <notifications@github.com> wrote:

Did you get it now? I think I didn't have the right Google ID for you on
the memberslist.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/SwissPy/sps17/issues/30#issuecomment-265856448>, or mute
the thread
<https://github.com/noti

[2016-12-09 01:20] chiesax commented on #32
Here the registration form. I'll publish it on the site this week end if nobody disagrees.

https://docs.google.com/forms/d/1XriMP-XCvznIbja2A0szd6RIwGZu-LVxxtyyTV4ykS0/edit

[2016-12-09 07:06] The-Compiler commented on #24
- [x] ordered! :tada:

[2016-12-10 21:38] jakeret commented on #30
Done. Can you check the text bits in red? How much reduction do the members get 33 or 66%?

[2016-12-11 09:44] href commented on #30
Well done, thanks! And you're correct, it's 33%.

I'll pass this on to swissmadesoftware tomorrow.

[2016-12-14 19:15] href opened #33 "Prepare Sponsor Booths"
Our platinum sponsor is asking how the booth situation will look like. They want to know where they can put the booth, how big it is and so on. Ideally we could provide some kind of floor plan.

In any case we are going to have a maximum of two booths (Seantis won't be doing one) and I would imagine that we put them inside the auditorium. The spots should be prominent (they are paying for the priv

[2016-12-14 20:29] The-Compiler commented on #33
Does this help?
[Verwaltungsgebaeude_OG.pdf](https://github.com/SwissPy/sps17/files/652797/Verwaltungsgebaeude_OG.pdf)

[2016-12-15 07:57] href commented on #33
It's a start. Though I won't presume to know where to pot the booths just from looking at this plan. Maybe people more familiar with the location can weigh in.

[2016-12-15 08:11] dbrgn commented on #33
Maybe here, next to the wall?

![plan](https://cloud.githubusercontent.com/assets/105168/21216343/768729be-c2a6-11e6-8c94-64f1921a7e4b.png)

[2016-12-15 08:19] href commented on #33
Should we put the booth(s) and the poster together or on opposite sides of the room - or a mix of the two? The catering is outside, right?

What I want to avoid is that the booth(s) are something nobody cares to go to. So they should be more prominent and central than the posters imho.

[2016-12-15 08:22] sfkeller commented on #33
@dbrgn That's what I would have suggested too at the castle side, there's enough space there.
The reception / registration would be in front of the first / main door.
This way when people are arriving, they come up the stairs, make registration, then enter the Aula.
At the lake side there's space for posters - and also for stand-up tables.
The catering area with buffet tables is at "4.100a Eingang

[2016-12-16 09:19] href commented on #33
Does this make sense?
![screenshot of sketch 16-12-16 10-18-50](https://cloud.githubusercontent.com/assets/273163/21257538/1cbabdbe-c379-11e6-9c83-2127f2df8167.png)

[2016-12-16 09:27] sfkeller commented on #33
Looks good to me.

[2016-12-17 10:36] dbrgn commented on #33
Yes! Thanks for doing it in a nicer way than me :smile:

[2016-12-21 07:54] The-Compiler commented on #24
We have stickers!

![s2](https://cloud.githubusercontent.com/assets/625793/21381327/f0d2099c-c75a-11e6-828f-48ebbd31d4b4.jpg)

They're at HSR in my locker now.

(also, GitHub doesn't exif-rotate pictures in its preview here...)

[2016-12-21 07:59] dbrgn commented on #24
Awesome!

[2016-12-21 08:13] chiesax commented on #24
Can't wait...

[2016-12-21 08:38] The-Compiler commented on #24
@dbrgn if you want some and happen to be at HSR, I left some on the coffee table (where the selecta machine is), and in the VSHSR-room - get them before they're gone! :laughing:

[2017-01-02 10:25] href opened #34 "Lanyards / Badge Holder"
We need to order the lanyards/badge holders this week if we want to be reasonably sure we actually get them on time. Since last time it went rather badly when we ordered them from Germany I suggest we go with a Swiss shop.

The cheapest I could find was http://www.easyid.ch

This is what it would cost us, if we get 250 pieces:
![screenshot of safari 02-01-17 11-17-23](https://cloud.githubuserconte

[2017-01-02 10:44] href commented on #12
I think we should actually go with @The-Compiler's suggestion, and order a very simple print like the following from Text-Großhandel:

![screenshot of sketch 02-01-17 11-41-00](https://cloud.githubusercontent.com/assets/273163/21587782/67ed7dd4-d0e0-11e6-9149-9f03caba9529.png)

What do ya'll think? I personally wouldn't add any "Staff" text or anything like that. We can simply tell people that the

[2017-01-02 10:50] jakeret commented on #34
Last year we received the ribbons (Bändel) from a sponsor, right? Any chance we could get some this year as well?
As for the numbers, 250 sounds about right

[2017-01-02 11:04] href commented on #34
They actually sponsored the ribbons with the Django CMS logo on it. So it would have to be another sponsored logo if we went that route, to be fair to our existing sponsors.

So we could technically ask our platinum sponsor if they have any ribbons to provide us with, but I'd rather keep them out of it since we can just order these without any kind of coordination with the sponsor. Plus without lo

[2017-01-02 11:35] #30 closed

[2017-01-02 11:35] #31 closed

[2017-01-02 12:33] dbrgn commented on #34
@href yes you can send the order to me.

It's quite expensive, but I guess we should go with this shop for now, and could order from China next time. Just a quick example: https://www.alibaba.com/product-detail/OEM-Id-card-rope-langyards-neck_60355295339.html?spm=a2700.7724838.0.0.aiXFKx (I think this includes printing.)

[2017-01-02 12:34] dbrgn commented on #12
:+1:

[2017-01-02 12:47] href commented on #34
Yeah, it occurred to me today that we should've done this way earlier.

[2017-01-03 07:42] href commented on #33
A gold sponsor would like to have one or more high tables (stehtische). The other probably a normal table and chairs. That shouldn't be a problem, right?

[2017-01-03 07:48] href opened #35 "Helper Jobs"
Related to #18

What are the helper jobs we need to fill?

On the top of my head:

- [ ] 4 people for registration (working in pairs)
- [ ] 1 person to do the moderation during the talks
- [ ] 2 people to cater during each coffee/tea break
- [ ] 2 people to cater during the afterparty
- [ ] 2 people to help the sponsors setup their booths
- [ ] 2 people to help with the mics/logistics during the s

[2017-01-03 07:48] href commented on #33
Oh and I assume electricity and WiFi is a given, right?

[2017-01-03 18:45] href commented on #12
You weren't kidding with ordering a larger amount @The-Compiler. I'm about to order 50 shirts for less than if I ordered 30. Including import it'll clock in around 350.- including shipping and import taxes, which is well below our 420.- budget and includes a good number of shirts:

![screenshot of safari 03-01-17 19-44-54](https://cloud.githubusercontent.com/assets/273163/21618833/2a45dcf2-d1ed-11

[2017-01-03 19:53] chiesax commented on #34
What about poster printing? We had a budget of 200 CHF, but this must be much less since HSR is taking care of that right?

[2017-01-03 20:06] chiesax commented on #34
So I would say if we can decrease the poster budget to 100 chf, and since t shirts will be approx 100 chf cheaper, then I am okay with this.

[2017-01-03 20:07] chiesax commented on #34
So I would say if we can decrease the poster budget to 100 chf, and since t shirts will be approx 100 chf cheaper, then I am okay with this.

[2017-01-04 07:37] href commented on #34
Yeah, the poster printing is not going to cost us anything from what I understand. HSR is basically sponsoring that. I'm also looking at a few other shops for the lanyard itself, which I think we can get cheaper even in Switzerland.

[2017-01-04 15:56] href commented on #34
Alright, I got the lanyards somewhat cheaper (the price I posted here was even higher since it excluded VAT). All in all the costs are 442.80.

@dbrgn Let me know when you get any packages (you should get two all in all) and be sure to check if the resulting lanyard/sleeve combination is what we need.

The package with the sleeves might also include the bill, if they don't decide to switch to pre-

[2017-01-05 13:57] sfkeller commented on #33
Stehtische and normal tables are no problem.
Electricity is given.
WiFi also but needs to be announced before hand.

[2017-01-05 14:04] href commented on #33
Okay, thanks. If you could announce the WIFI like you did last year that would be great.

[2017-01-05 16:14] href commented on #12
I have the quote for the print. Unfortunately it's a bit higher than expected. The shirts themselves plus printing comes up to 326.20€. In addition to that there seems to be 18€ shipping and an estimated 62.60CHF in import taxes.

This totals to an amount of 431.01CHF. This is not much over budget, but it means we have no extra money left for the lanyard/sleeves. Though we are less over budget the

[2017-01-05 16:56] The-Compiler commented on #12
If you mean the "Korrekturabzug", that's simply a PDF with the graphic they got imported in their tool. Think of it as a mockup. Not a real print. Saved my ass with mine though as my file was subtly corrupted and got cut off in their import.

You can order a sample print (and IIRC not pay much extra if you actually end up ordering), but I didn't do that for mine. Also, not sure how long the whole

[2017-01-05 18:19] href commented on #12
I see, thanks. I won't be going for the sample print. I don't think we have that kind of time.

How long did it take them to send it to you after payment @The-Compiler?

[2017-01-05 20:02] The-Compiler commented on #12
Don't remember exactly - I ordered them to a friends place in Germany and meeting there was the bottleneck. I think they were quite fast though.

[2017-01-06 15:01] dbrgn commented on #34
Sleeves arrived :)

[2017-01-06 15:28] dbrgn commented on #23
![img_8104](https://cloud.githubusercontent.com/assets/105168/21722470/1400b114-d42d-11e6-86ff-ad0605d1748a.jpg)

![img_8106](https://cloud.githubusercontent.com/assets/105168/21722472/175f40aa-d42d-11e6-8441-6f41ca1d520a.jpg)

[2017-01-06 15:29] dbrgn commented on #33
FYI, this is the registration area:

![img_8098-pano](https://cloud.githubusercontent.com/assets/105168/21722491/2dba22f2-d42d-11e6-903d-2b88045d0f19.jpg)

And here where I'm standing we'll put the sponsor booths:

![img_8105](https://cloud.githubusercontent.com/assets/105168/21722507/3c1210da-d42d-11e6-9fcf-35f0d8947798.jpg)

[2017-01-06 15:29] dbrgn commented on #19
Catering will probably go here:

![img_8101](https://cloud.githubusercontent.com/assets/105168/21722522/4a89afec-d42d-11e6-9a08-137362d1d385.jpg)

The wall on the right can be opened up.

[2017-01-06 15:35] dbrgn commented on #28
I visited the HSR Aula today.

This is the room:

![img_8104](https://cloud.githubusercontent.com/assets/105168/21722546/6360e364-d42d-11e6-981c-fedca3d527ee.jpg)

There are two projectors, both 1920x1200px.

![img_8122](https://cloud.githubusercontent.com/assets/105168/21722556/6d3f87d2-d42d-11e6-9187-80c6f0105fd6.jpg)

Supported video signals are HDMI and VGA. There are two scalers below the spe

[2017-01-06 16:00] dbrgn commented on #23
I added it to the "venue" page. Please reopen if you think it should also be on the home page.

[2017-01-06 16:00] #23 closed

[2017-01-09 08:14] href commented on #20
We should increase our tweeting before the conference, to maybe get some extra attendees and make sure that people are well informed. Anyone want to help out? I'm a bit preoccupied with other things :)

[2017-01-09 13:48] dbrgn commented on #20
Maybe @The-Compiler?

[2017-01-09 16:28] The-Compiler commented on #20
Busy with exams currently, so probably rather not :wink:

[2017-01-11 22:53] sykaeh commented on #29
Sorry for not commenting earlier. I somehow missed this whole issue. We are currently still looking for a couple of coaches (about 3) and there are still a couple of open spots for participants as well. I do not know what the status is of your communication with the attendees, but if possible it would be great to word out (especially for coaches since the attendees are likely very good candidates

[2017-01-12 06:57] chiesax commented on #28
What is the price to borrow the video camera? I am not sure we have included this in the budget...

[2017-01-12 08:16] href opened #36 "Change the Program so Lunch can Start at 12:45"
To accomodate all the people for lunch we need to move the program slightly to have lunch starting at 12:45. Otherwise the canteen might be a bit overwhelmed (it houses 250).

Any suggestions on how we should move things around?

[2017-01-12 08:17] dbrgn commented on #28
Free :)

[2017-01-12 08:28] chiesax commented on #28
I like this price!

[2017-01-12 10:07] chiesax commented on #36
Just move Dave Halter in the morning?

[2017-01-13 08:17] href commented on #36
Okay, this would result in this swap:

12:10-12:40 - Python is Weird by Dave Halter
12:40-14:00 - Lunch

If there are no objections we can change this and let Dave know.

[2017-01-16 08:42] href commented on #29
We discussed this internally and we want to avoid sending an e-mail to all participants. Our attendees didn't signup for newsletters, except for one sponsor e-mail they'll be sent and we'd like to keep it at that.

We already have you on our website, though it's considerably below the fold. We also added a shout-out on twitter. As far as communication with our participants go I'm afraid this is ab

[2017-01-16 08:47] href commented on #36
I changed the program accordingly:
http://www.python-summit.ch/pages/program.html

@bkarolina Can you let Dave know that his schedule changed?

[2017-01-16 08:47] href commented on #27
One more month :)

[2017-01-18 09:36] bkarolina commented on #36
@href yes, I let him know. Sorry for delayed reply, I was on short vacation.

[2017-01-18 21:25] ccdesales commented on #20
I'm doing this for the time being.

[2017-01-19 17:17] ccdesales commented on #24
AFAIK stickers arrived.

[2017-01-19 17:17] #24 closed

[2017-01-19 17:19] ccdesales commented on #36
The program has been changed and Dave was notified.

[2017-01-19 17:19] #36 closed

[2017-01-19 17:21] ccdesales commented on #29
We've basically done what we could regarding the promotion of the DjangoGirls event.

Closing this.

[2017-01-19 17:21] #29 closed

[2017-01-19 17:27] ccdesales commented on #34
We have the sleeves and the lanyards. I think now we only need the following:

- [ ] Cards for people to write the name on.
- [ ] Markers to write

I can't remember how we did last year.

Should I buy the cards and markers?  I guess white cards should do, and assume we are not printing anything on them, unless somebody has the time and tonner for that.

@dbrgn What size do the cards need to be to

[2017-01-19 17:35] href commented on #34
Actually last year we had a printed batch:
![screenshot of finder 19-01-17 18-33-50](https://cloud.githubusercontent.com/assets/273163/22117872/e63ac2da-de75-11e6-96bb-36bbb6226d2c.png)

I would assume we do this again, assuming that @sfkeller will help us out again.

In any case, +1 on the markers.

[2017-01-19 17:37] ccdesales commented on #34
@href the design needs to be updated, I assume you have the original. Is this something you can tackle?

[2017-01-19 17:39] href commented on #34
Yeah, no problem. It's just a small update. I have to do the same for the job-board posters.

[2017-01-26 16:16] href commented on #32
How is it going with the call for posters? We need the posters ready for printing no later than on the 13th of February, so @sfkeller can print them in time.

[2017-01-26 16:21] href commented on #35
I provisionally assigned the helpers to the jobs. Please have a look:
https://docs.google.com/spreadsheets/d/1h7zmFT1L33Wx5BAnzAepZIHGUo3yUJASSVhhPKPRa54/edit#gid=694625947

[2017-02-06 08:06] href commented on #12
We got the shirts ready.

[2017-02-06 08:06] #12 closed

[2017-02-15 16:03] href commented on #27
We organised it all!

[2017-02-15 16:03] #27 closed

[2017-02-15 16:04] #35 closed

[2017-02-15 16:04] #34 closed

[2017-02-15 16:05] #32 closed

[2017-02-15 16:05] #21 closed

[2017-02-15 16:05] #19 closed

[2017-02-15 16:05] #18 closed

[2017-02-15 16:06] #17 closed

[2017-02-15 16:06] #14 closed

[2017-02-18 12:57] dbrgn opened #37 "Learnings"
What can we improve next time?

- Put an easily readable timer (remaining minutes) on the speaker's desk
- Make sure to send a confirmation e-mail to *every* attendee, even people that sign up through a sponsor
- Coffee for the registration would be nice
- Keep some change money even when locking the money box in the office, for people that come late and think it's our fault that they didn't show

[2017-02-18 15:29] chiesax commented on #37
- sponsor poster included in contract
- automatize a bit the registration process: credit card payments, automatic confirmation mail, database with list of registered attendees

[2017-02-18 15:31] chiesax commented on #37
- publish all the ticket prices and deadlines when registration starts

[2017-02-20 08:07] href commented on #37
* Turn e-mail enquiries into tickets which are assigned to somebody.
* Order t-shirts/lanyards/badges *way* earlier.
* Explain the parking situation to sponsors.
* Use 5dl water bottles and give them to speakers instead of filling glasses.
* Have a lightning-talks session at the end.

[2017-02-20 10:28] href commented on #37
I got some feedback from the catering/Mensa through Stefan's secretary. Apparently a lot of attendees didn't know that lunch was not included in the ticket price. Additionally many didn't have Swiss francs with them and the Mensa usually doesn't accept Euros. So they had to scramble as a result.

Next time we should:

* Maybe include lunch in the ticket (and give out a coupon, which would also spe

[2017-02-20 10:38] href commented on #37
* Make sure the helpers are registered properly.
* Have helpers sign up as such by checking a checkbox on the registration form ("I want to be a helper")

[2017-02-20 19:06] href commented on #37
* Start our search for sponsors sooner. Some need quite a bit of time to decide.
* Ask RedHat (apparently they might be interested)

[2017-02-21 10:56] href commented on #37
From feedback that I received from a sponsor:

* Add orientation arrows from the train-station to the venue.
* Add the ability to have two laptops hooked up to two HDMI inputs for easy speaker switching.
* A separate room for speakers to prepare.

[2017-06-13 18:18] #33 closed

[2017-06-13 18:18] #28 closed

[2017-06-13 18:18] #20 closed

[2017-06-15 13:06] dbrgn commented on #37
- Setting up the new laptop while the old speaker is still answering questions saves time, but looks quite strange in the video recordings.